
html, body {
height:100%;
min-width: 1060px;
}
body{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	margin:0;
	color:#545454;
	font:15px/24px 'pt_sansregular', sans-serif;
	min-width:980px;
	background:url(../images/head-6.jpg) no-repeat 50% 0;
}
img{border-style:none;}
a{
	text-decoration:none;
	color:#000;
}
a:hover{text-decoration:underline;}
input, textarea, select {
	font:12px/14px Arial, Helvetica, sans-serif;
	vertical-align:middle;
	color:#000;
	outline:none;
}
::-webkit-input-placeholder{color:#000;}
:-moz-placeholder{color:#000;}
form, fieldset {
	margin:0;
	padding:0;
	border-style:none;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
@font-face {
	font-family: 'pt_sansregular'; 
	src: url('../fonts/pts55f_w.eot'); 
	src: local('../fonts/PT Sans'), 
	url('../fonts/PTS55F_W.woff') format('woff'),
	url('../fonts/PTS55F_W.ttf') format('truetype'), 
	url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'pt_sansitalic';
src: url('../fonts/PTS55F_W.svg#PTSans-Regular') format('svg');
}
}
@font-face {font-family: 'pt_sansbold';
	src: url('../fonts/pts75f_w.eot');
	font-style: normal;
	font-weight: bold; 
	src: local('../fonts/PT Sans Bold'), 
	url('../fonts/PTS75F_W.woff') format('woff'),
	url('../fonts/PTS75F_W.ttf') format('truetype'), 
	url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'pt_sansitalic';
src: url('../fonts/PTS75F_W.svg#PTSans-Bold') format('svg');
}
}
@font-face {
	font-family: 'pt_sansitalic';
	src: url('pts56f_w.eot'); 
	src: local('../fonts/PT Sans Italic'), 
	url('../fonts/PTS56F_W.woff') format('woff'),
	url('../fonts/PTS56F_W.ttf') format('truetype'), 
	url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
@font-face {
font-family: 'pt_sansitalic';
src: url('../fonts/PTS56F_W.svg#PTSans-Italic') format('svg');
}
}
@font-face {
	font-family: 'PT Sans Narrow';
	src: url('../fonts/ptn57f_w.eot');
	src: local('../fonts/PT Sans Narrow'),
	url('../fonts/PTN57F_W.woff') format('woff'),
	url('../fonts/PTN57F_W.ttf') format('truetype'), 
	url('../fonts/PTN57F_W.svg#PTSans-Narrow') format('svg');
}
.errors {
    border-left: 4px solid #DD3D36;
    padding: 1px 12px;
    background: #F2DEDE;
    margin-bottom: 10px;
}
.success {
    border-left: 4px solid #7AD03A;
    padding: 1px 12px;
    background: #DFF0D8;
    margin-bottom: 10px;
}
#wrapper{
	width:1020px;
	margin:0 auto;
	padding: 0px 20px 160px 20px;
}
/*header*/
#header{
	width: 1020px;
	margin: 0 auto;
	height:1%;
	padding-top:37px;
	padding-bottom:44px;
	height: 120px;

}
.flag{
	width: 100%;
	height: 210px;
	background: url(../images/flag.png) no-repeat 50% 0;
	position: absolute;
}
#header .logo{
	margin:8px 0 0 45px;
	overflow:hidden;
	float:left;

}
#header .logo a{
	display:block;
	height:100%;
}
#header strong.slogan{
	background:url(../images/slogan1.png) no-repeat 0% 100%;
	display:block;
	font-family: 'pt_sansbold';
	font-size: 16px;
	line-height: 1.3;
	text-transform: uppercase;
	color: white;
	float: right;
	margin-top: 20px;
	margin-right: 40px;
}
.main-text{
	width: 238px;
	height: 78px;
	background: url(../images/slogan2.png);
	float: left;
	margin-left: 35px;
	margin-top: 20px;
}
.z-index-header{
	position: absolute;
	z-index: 88888;
	width: 1020px;
}

#header strong.slogan span.dot{;
	color: #e6e6e6;
}
#header strong.slogan .putin{
	display: block;
	font-size: 12px;
	margin-top: 15px;
	margin-left: 12px;
	text-transform: none;
}
#header .ico-logo{
	float: left;
	margin-top: -10px;
	margin-left: 10px;
}
/*nav*/
#nav{
	background:#fff;
	padding:11px 15px 0 45px;
	height:40px;
	font:14px/21px 'pt_sansbold',sana-serif;
	margin-bottom:32px;
	width: 960px;
	border:1px solid white;
	border-right: none;
	border-left: none;
    position: relative;
}
#nav:after{
	clear:both;
	display:block;
	content:"";
}
#nav a{color:#006fb4;}
#nav ul{
	margin:0;
	padding:0;
	list-style:none;
	float:left;
	text-transform:uppercase;
    display: table;
    width: 100%;
}
#nav li{
	padding:0 19px;
    display: table-cell;
    text-align: center;
}
#nav li:first-child{padding-left:0;}
#nav li a{
	display: block;
	padding: 5px 5px 23px;
}
#nav li.current-menu-item a,
#nav li a:hover{
	text-decoration:none;
	background:url(../images/ico-hover.png) no-repeat 48% 99%;
	color:#e7354f;
}
#nav li.active a{
	background:url(../images/ico-hover.png) no-repeat 48% 99%;
	color:#e7354f;
}
#nav a.enter{
	float:right;
	background:url(../images/ico-enter.gif) no-repeat 100% 49%;
	padding:4px 33px 4px 0;
}
#nav a.enter:hover{opacity:0.7;}
/*main*/
#main{
	overflow:hidden;
	height:1%;
}
/*map*/
#main .map-holder{
	border-top: 2px solid #009ed8;
	padding:31px 0 80px;
	overflow:hidden;
	height:1%;
	position:relative;
}
#main .map-holder strong.heading1{
	float:left;
	width:340px;
	font:15px/26px 'pt_sansbold',sana-serif;
	color:#000;
	text-transform:uppercase;
	letter-spacing:0.5px;
	margin:0 55px 28px 0;
}
#main .map-holder p{
	margin:0;
	font:14px/21px 'pt_sansitalic',sans-serif;
	color:#818181;
	overflow:hidden;
}
#main .map-holder .menu-map{
	margin: 0;
	padding:10px 0;
	list-style:none;
	float:left;
	width:980px;
	position:relative;
	z-index:100;
	border-top: 1px solid #ddeef4;
	border-bottom: 1px solid #ddeef4;
}




#main .map-holder .menu-map li{
	float:left;
	font:15px/26px 'pt_sansregular',sana-serif;
	padding:0 10px 0 10px;
}
#main .map-holder .menu-map li:first-child{
	padding-left:26px;
}
#main .map-holder .menu-map li a{
	color: #006fb4;
}
#main .map-holder .menu-map li a:hover{
	color: #e7354f;
	font:15px/26px 'pt_sansregular',sana-serif;
	text-decoration:none;
}
#main .map-holder .menu-map li.active a{
	font:15px/26px 'pt_sansregular',sana-serif;
	text-decoration:none;
}

#main .map-holder .menu-map li .active-link{
	font:15px/26px 'pt_sansregular',sana-serif;
	text-decoration:none;
	color: #e7354f !important;
}

#main .map-holder .map{
	float:left;
	margin:-51px 0 0 83px;
}
#main .map-holder .district{
	overflow:hidden;
	width:100%;
	padding-top:54px;
	top:185px;
	background: rgba(255,255,255,1);
	min-height: 400px;
	z-index: 9999;
	position: absolute;
}

#main .map-holder .district img{
	float:left;
	margin-left:73px;
	margin-top: -20px;
}
.maphold{
	height: 600px;

}
#main .map-holder .block-dicstrict{
	float:right;
	width:335px;
	margin-right:97px;
	margin-top: -20px;
}
#main .map-holder .block-dicstrict h3{
	margin:0 0 16px;
	font:20px/26px 'pt_sansbold',sana-serif;
	color:#000;
	letter-spacing:0.8px;
}
#main .map-holder .block-dicstrict ul{
	margin:0 0 27px;
	padding:0;
	list-style:none;
	font:12px/30px 'pt_sansregular',sana-serif;
	color:#000;
	text-transform:uppercase;
}
#main .map-holder .block-dicstrict ul li{
	overflow:hidden;
	height:1%;
}
#main .map-holder .block-dicstrict ul li strong{
	font-family:'pt_sansbold',sana-serif;
	float:left;
	margin-right:4px;
	letter-spacing:0.5px;
}
#main .map-holder .block-dicstrict ul li span{
	float:left;
}
/*presidium*/
#main .presidium{
	border-top: 2px solid #009ed8;
	padding:37px 0 0;
}
#main .presidium .council-heading{margin-bottom:64px;}
#main .presidium .council-heading h3{
	text-transform: none;
	font:15px/30px 'pt_sansitalic',sana-serif;
	width:554px;
	margin: 0px 0 0 -5px;
	float:left;
	line-height: 1.4;
	color:#545454;
}
#main .presidium .council-heading h3 strong{font-family:'pt_sansbold',sans-serif; font-style: italic;}
#main .presidium .box{
	overflow:hidden;
	height:1%;
	margin-bottom:84px;
}
#main .presidium .box .gallery-box{
	width:335px;
	height:393px;
	float:left;
	margin:0 56px 0 0;
}
#big-img-slider img{
	width: 340px;
	height: 300px;
}
#big-img-slider{
	height: 320px;
}
#main .presidium .box .gallery-box img{display:block;}
#main .presidium .box .gallery-box div img{margin-bottom:10px;}
#main .presidium .box .gallery-box1{
	float:right;
	margin:0 0 0 56px;
}
#big-img-main img{
	width: 640px;
}
#main .presidium .box .slider{
	margin:0;
	padding:0;
	list-style:none;
	overflow:hidden;
	position:relative;
}
#main .presidium .box .slider li{
	float:left;
	margin-left:8px;
}
#main .presidium .box .slider li a{
	display:block;
	height:58px;
	width:78px;
}
#main .presidium .box .slider li a img{
	width: 55px;
	height: 55px;

}
#main .presidium .box span{
	overflow:hidden;
	font:20px/17px 'pt_sansbold',sana-serif;
	text-transform:uppercase;
	display:block;
	margin-bottom:18px;
}
#main .presidium .box p{
	margin:0 0 10px;
	font-family:'pt_sansregular',sans-serif;
	overflow:hidden;
	text-indent:2px;
}
/*convacation*/
#main .convacation{
	border-top: 2px solid #009ed8;
	padding:37px 0 9px;
}
#main .council-heading{
	overflow:hidden;
	height:1%;
	margin-bottom:44px;
}
#main .council-heading h2{
	line-height:32px;
	text-transform:uppercase;
	width:210px;
	float:left;
}
#main .council-heading p{
	font-family: 'pt_sansitalic';
	width:460px;
	margin:0 0 0 70px;
	float:left;
}
#main .convacation .list-people{
	padding:0;
	margin:0 0 0 -29px;
	list-style:none;
	overflow:hidden;
	height:1%;
}
#main .convacation .list-people li img{
	vertical-align:top;
	margin-bottom:28px;
}
#main .convacation .list-people li{
	float:left;
	width:221px;
	height:435px;
	margin:0 0 49px 29px;
	padding-left:2px;
}
#main .convacation .list-people li strong{
	font:14px/20px 'pt_sansbold',sana-serif;
	text-transform:uppercase;
	display:block;
	margin-bottom:8px;
}
#main .convacation .list-people li span{
	font:13px/19px 'pt_sansitalic',sans-serif;
	color:#7c7c7c;
}
/*mission*/
#main .mission{
	border-top: 2px solid #009ed8;
	border-bottom: 2px solid #009ed8;
	padding:38px 0 20px;
}
#main .mission .top{
	overflow:hidden;
	height:1%;
	margin-bottom:37px;
}
#main .mission .top .left{
	float:left;
	width:395px;
}
#main .mission .top .left h2{
	width:200px;
	text-transform:uppercase;
	font:22px/31px 'pt_sansbold',sans-serif;
	margin-bottom:26px;
	letter-spacing:1.7px;
}
#main .mission .top .left strong{font:22px/30px 'pt_sansbold',sans-serif;}
#main .about-move{
	float:right;
	width:152px;
	margin:4px 31px 0 0;
}
#main .about-move img{
	display:block;
	margin-bottom:14px;
}
#main .about-move a{
	background:#0078c2;
	color:#fff;
	font:14px/21px 'pt_sansbold',sans-serif;
	text-transform:uppercase;
	padding:0 4px;
}
#main .about-move a:hover{
	text-decoration:none;
	opacity:0.7;
}
#main .about-move span{
	color:#7c7c7c;
	font:14px/26px 'pt_sansitalic',sans-serif;
	display:block;
}
#main .mission .block{
	font:14px/22px 'pt_sansitalic',sans-serif;
	color:#6b6b6b;
	overflow:hidden;
	height:1%;
	margin:0 0 36px -52px;
}
#main .mission .block .text{
	float:left;
	width:459px;
	margin-left:52px;
}
#main .mission .block span{
	font:44px/46px 'pt_sansbold',sans-serif;
	color:#e4e4e4;
	display:block;
	margin-bottom:19px;
	width:24px;
}
#main .mission .block p{margin:0;}
#main .appeal{
	border-bottom: 2px solid #009ed8;
	padding:59px 0 58px;
	margin-bottom:63px;
}
#main .appeal h3{
	width:742px;
	margin:0 auto 55px;
	font:18px/28px 'pt_sansbold',sans-serif;
	text-transform:uppercase;
	color:#545454;
	text-align:center;
}
#main .appeal .text-holder{
	width:723px;
	margin:0 auto;
	font:14px/22px 'pt_sansitalic',sans-serif;
}
#main .appeal .text-holder p{margin:0 0 10px;}
/*contact*/
#main .contact{
	overflow:hidden;
	height:1%;
	border-top: 2px solid #009ed8;
	padding:31px 0 61px;
}
.line-region{
	width: 100%;
	height: 2px;
	background-color: #037eaa;
}
#map-region{
	float: right;
	margin-top: 40px;
}
#cont-mail-region{
	margin-top: -340px;
}
.clear{
	clear:both;
}
#cont-region .contact{
	float: left;
	border-top: none;
}
#main .contact .cont-block{
	float:left;
	width:295px;
}
#main .contact .cont-block h2,h3{
	margin:0 0 29px;
	color:#006990;
	font:20px/22px 'pt_sansbold',sans-serif;
	text-transform:uppercase;
}
#main .contact .cont-block h3{
	font-family:'pt_sansitalic',sans-serif;
	text-transform:none;
	margin-bottom:26px;
}
#main .contact .cont-block .address{
	margin:0 0 37px;
	padding:0;
	list-style:none;
}
#main .contact .cont-block .address li{
	overflow:hidden;
	height:1%;
	font:13px/20px 'pt_sansregular',sans-serif;
	text-transform:uppercase;
	margin-bottom:20px;
}
#main .contact .address li span{
	float:left;
	color:#6b6b6b;
	width:66px;
	margin-right:42px;
}
#main .contact .cont-block .address li strong,address{
	font:13px/20px 'pt_sansbold',sans-serif;
	float:left;
	color:#000;
		width: 180px;

}
#main .contact .cont-block .address a{
	float:left;
	font:13px/20px 'pt_sansbold',sans-serif;
}
#main .contact .address li address{width:186px;}
#main .contact form div{
	overflow:hidden;
	height:1%;
}
#main .contact form fieldset label{
	float:left;
	color:#000;
	font:13px/21px 'pt_sansregular',sans-serif;
	text-transform:uppercase;
	width:66px;
	padding-top:6px;
}
#main .contact form fieldset input[type="text"]{
	float:right;
	width:178px;
	border:1px solid #dbdbdb;
	margin-bottom:12px;
	padding:6px 4px;
}
#main .contact form fieldset textarea{
	float:right;
	border:1px solid #dbdbdb;
	width:185px;
	max-width:185px;
	min-width:185px;
	height:50px;
	max-height:100px;
	min-height:50px;
}
#main .contact form fieldset input[type="submit"]{
	float:right;
	background:url(../images/bg-submit.gif) no-repeat;
	width:26px;
	height:17px;
	border:0;
	cursor:pointer;
	font-size: 1px;
	margin-top:7px;
}
.send-button-text{
	margin-right: 15px;
}

#main .contact .image-map{
	float:right;
	margin-top:6px;
}
/*about-us*/
#main .about-us{
	overflow:hidden;
	height:1%;
	border-top: 2px solid #009ed8;
	padding:36px 0 60px;
}
#main .about-us .colum, .colum2{float:left;}
#main .about-us .colum{
	width:235px;
	margin-right:48px;
}
#main .about-us .colum h2{
	line-height:32px;
	text-transform:uppercase;
	margin-bottom:35px;
}
#main .about-us .colum img{
	vertical-align:top;
	margin-bottom:32px;
}
#main .about-us .colum .figcaption strong{
	font:14px/21px 'pt_sansbold',sans-serif;
	text-transform:uppercase;
	display:block;
	margin-bottom:8px;
}
#main .about-us .colum .figcaption span{
	font:14px/16px 'pt_sansitalic',sans-serif;
	color:#7c7c7c;
}
#main .about-us .colum2{width:452px;}
#main .about-us .colum2 p strong{
	font:15px/24px 'pt_sansbold',sans-serif;
	text-transform:uppercase;
}
#main .about-us .colum2 p{margin:0 0 26px;}
#main .about-us .colum2 p a{
	color:#3ba5e8;
	font-family:'pt_sansitalic',sans-serif;
	text-decoration:underline;
}
#main .about-us .colum2 p a:hover{text-decoration:none;}
#main .about-us .colum2 ul.doc{
	margin:0 0 0 -4px;
	padding:7px 0 0 0;
	list-style:none;
	overflow:hidden;
	height:1%;
}
#main .about-us .colum2 ul.doc li{
	float:left;
	background:url(../images/ico02.gif) no-repeat 0 8px;
	padding:13px 0 14px 50px;
	margin-left: 42px;
}
#main .about-us .colum2 ul.doc li:first-child{
	float:left;
	margin-left: 0px;
	padding:13px 0 14px 45px;
	background:url(../images/ico01.gif) no-repeat 0 5px;
}
#main .about-us .colum2 ul.doc li:last-child{
	background:url(../images/player.jpg) no-repeat 0 8px;
		padding:13px 0 14px 44px;
}
#main .about-us .colum2 ul.doc li a,#main .about-us .colum2 ul.doc li span{
	color:#545454;
	text-transform:uppercase;
	font:12px/15px 'pt_sansbold',sans-serif;
	display: block;
}

#main .about-us .list-info{
	margin:0;
	padding:0 7px 0 0;
	list-style:none;
	width:173px;
	float:right;
}

#main .about-us .list-info li{
	margin-bottom:10px;
	border-bottom: 1px solid #009ed8;
	padding-bottom: 15px;
	margin-top: 15px;
}
#main .about-us .list-info li div{margin-bottom:5px;}
#main .about-us .list-info li:first-child{
	padding-left: 0px;
	border-bottom: none;
	margin-top: 0px;
}
#main .about-us .list-info li:last-child{
	border-bottom: none;
}
.list-right{
	float: right;
	width: 173px;
}
.list-right .social-sidebar{
	color:#434343;
	font:13px/15px 'pt_sansbold',sans-serif;
	margin-left: -8px;
	margin-top: 15px;
}

.list-right .social-sidebar span{
	display: block;
	padding-bottom: 5px;
}
.list-right .social-sidebar a{
	margin-left: 5px;
}
.list-right .social-sidebar .first-soc{
	margin-left: 0px;
}
#main .about-us .list-info li:first-child a{
	color:#fff;
	background: red;
	font-family: 'pt_sansregular';
	text-transform:uppercase;
	font-size: 14px;
	padding: 6px 8px 6px 8px;
}

#main .about-us .list-info li a{
	color:#0078c2;
	font:18px/21px 'pt_sansbold',sans-serif;
	text-transform:uppercase;
	padding:0 3px;
}
#main .about-us .list-info li a:hover{
	text-decoration:none;
	opacity:0.7;
}
#main .about-us .list-info li span{
	color:#7c7c7c;
	font:14px/20px 'pt_sansitalic',sans-serif;
}
#non-border{
	border-bottom: 1px solid white;
	
}
.background-block{
	background-color: white;
	padding-right: 20px;
	padding-left: 20px;
	padding-top: 20px;
	padding-bottom: 30px;
}
/*gallery*/
#content .gallery-holder{
	overflow: hidden;
	width: 644px;
	position:relative;
	margin-bottom:39px;
	float:left;
	height: 370px;

}
#content .gallery-holder .gholder{
	overflow: hidden;
	width: 100%;

}
#content .gallery-holder .gmask {
	position: relative;
	overflow: hidden;
	width: 644px;
}
#content .gallery-holder .gmask ul{
	list-style: none;
	float: left;
	padding: 0;
	margin:0;
}
#content .gallery-holder .gmask ul li{
	float: left;
	text-align: center;
	width: 644px;
	left:0;
	top:0;
	position:absolute;
}
#content .gallery-holder .gmask ul li img{margin-bottom:9px;}
#content .gallery-holder .gmask ul li strong{
	color:#343434;
	font:16px/21px 'pt_sansitalic',sans-serif;
}
#content .gallery-holder .gmask ul li strong span{
	text-transform:uppercase;
	font:15px/21px 'pt_sansbold',sans-serif;
	padding-right:20px;
}
#content .gallery-holder .pagination{
	position:absolute;
	z-index:20;
	margin-top: 310px;
	margin-left: 540px;
}
#content .gallery-holder .pagination ul{
	list-style: none;
	padding:0;
	margin:0;
	float:right;
}
#content .gallery-holder .pagination ul li{
	float:left;
	margin:0 0 0 11px;
}
#content .gallery-holder .pagination a{
	background:#e1e1e1;
	width:9px;
	height:9px;
	float:left;
}
#content .gallery-holder .pagination .active a {background:#459cd3;}
#content .gallery-holder .pagination a:hover{background:#459cd3;}
#content .slideshow .gmask ul li.active{z-index: 1;}
/*content*/
#content{
	width:644px;
	float:left;
}
#frontpage{
	width: 100%;
}
#content .frame{
	border-top: 2px solid #009ed8;
	padding-top:12px;
}

#content .frame .top{
	overflow:hidden;
	height:1%;
	margin-bottom:32px;
}
#content .frame .top h2{
	margin:0;
	font:20px/34px 'pt_sansbold',sans-serif;
	color:#000;
	text-transform:uppercase;
	float:left;
	width:510px;
}
#content .frame em.data{
	float:right;
	color:#8d8d8d;
	font:14px/36px 'pt_sansregular',sans-serif;
}
#content .frame .figure{
	text-align:center;
	margin-bottom:29px;
}
#content .frame .figure img{
	display:block;
	margin-bottom:19px;
}
#content .frame .figure span{font:14px/21px 'pt_sansitalic',sans-serif;}
#content .frame .figure span a{
	color:#009ed8;
	text-decoration:underline;
}
#content .frame .figure span a:hover{text-decoration:none;}
#content .frame p{margin:0 0 25px;}
#content .frame p span{font-family:'pt_sansitalic',sans-serif;}
#content .frame p a{
	color:#009ed8;
	text-decoration:underline;
}
#content .frame p a:hover{text-decoration:none;}
#content .frame p strong{
	font-family:'pt_sansbold',sans-serif;
	text-transform:uppercase;
}
#content .frame .breadcrumb{
	padding:9px 0 65px;
	margin:0;
	list-style:none;
	float:left;
	font:14px/21px 'pt_sansitalic',sans-serif;
	width:269px;
}
#content .frame .breadcrumb li{
	background:url(../images/sep-breadcrumb.gif) no-repeat 0 7px;
	float:left;
	padding:0 13px 0 14px;
}
#content .frame .breadcrumb li:first-child{
	background:none;
	padding-left:0;
}
#content .frame .breadcrumb li a{color:#a6a6a6;}
#content .frame .social{
	float:right;
	margin:0;
	padding:10px 0 0;
	list-style:none;
}
#content .frame .social li{
	float:right;
	height:20px;
	width:100px;
	margin-right:7px;
}
#content .frame .social li.vk{width:50px;}
#content .frame .comments{
	border-top: 2px solid #009ed8;
	float:left;
	padding-top:15px;
	margin-bottom:50px;
}
#content .frame .comments h2{margin-bottom:12px;}
/*block*/
#content .block{
	border-top: 2px solid #009ed8;
	position:relative;
	padding:17px 0;
	float:left;
	margin-bottom:26px;
}
.heading{
	font:24px/26px 'pt_sansbold',sans-serif;
	color:#006990;
	margin:0;
}

#main .gallery1 a:hover{opacity:0.5;}

#main .gallery1{
	overflow:hidden;
	width:644px;
	padding:27px 0 0;
}
#main .gallery1 div{
	width:644px;
	overflow:hidden;
	height:735px;
	position:relative;
	
}
#main .gallery1 div ul{
	position:absolute;
	width:99999px;
	padding:0;
	margin: 0;
	list-style:none;
	overflow:hidden;
}
#question-align{
	margin-top: -20px;
	border-bottom: none;
}
#main .gallery1 div ul li{
	float:left;
	width: 644px;
}

#main .question div ul li{padding-top:24px;}
#main .gallery1 div ul li .text{
	overflow:hidden;
	height:1%;
	margin-bottom:30px;
}
#main .gallery1 div ul li img{
	vertical-align:top;
	margin-bottom:34px;
}
#main .gallery1 div ul li .text strong{
	width:495px;
	float:left;
	font:20px/34px 'pt_sansregular',sans-serif;
	text-transform:uppercase;
	color:#000;
	letter-spacing:0.2px;
}
#main .gallery1 div ul li .text em{
	float:right;
	color:#8d8d8d;
	font:14px/28px 'pt_sansregular',sans-serif;
}
#main .gallery1 div ul li p{margin:25px 0 25px;}
a.more{
	background:#009ed8;
	color:#fff;
	font:15px/22px 'pt_sansregular',sans-serif;
	padding:2px 8px 5px;
	display:inline-block;
}
#question-align ul{
	list-style: none;
}
a.more:hover{
	text-decoration:none;
	background:rgba(0, 158, 216, 0.7);
}
#content .question{
	margin-bottom:0px;
	padding-bottom:4px;
}
#content .question h3{
	font:19px/25px 'pt_sansbold',sans-serif;
	color:#037eaa;
	margin:0 0 23px;
	background:url(../images/ico-question.gif) no-repeat 0 0;
	padding: 6px 103px 19px 109px;
	text-transform:uppercase;
}
.question .gallery1 p{
	float:left;
}
#content .question a.more{
	float:left;
	margin:3px 35px 0 0;
	letter-spacing:-0.6px;
	padding:3px 22px 7px;
}
#content .question .gallery1 div{height:408px;}
/*aside*/
#aside , #aside1{
	float:right;
	width:297px;
	padding:15px 0;
	border-top: 2px solid #009ed8;
	padding-bottom: 30px !important;
}
#aside .box-events, #aside1 .box-events{
	padding-bottom:24px;
}
#aside1{
	margin-top: -20px;
}
#box-in-main{
	border-bottom: none;
	border-top: none;
	padding-top: 37px;
	margin-top: -35px;
}

#aside .box-events h2 ,#aside1 .box-events h2{
	margin-bottom:13px;
	letter-spacing:0.3px;
}
#aside .box-events h2 a, #aside1 .box-events h2 a{
	color:#006990;
	font:24px/26px 'pt_sansbold',sans-serif;
}

#aside .box-events img, #aside1 .box-events img{
	vertical-align:top;
	margin-bottom:21px;
}
#aside .box-events h3, #aside1 .box-events h3{
	margin:0 0 0 4px;
	font-weight:normal;
}
#aside .box-events h3 a, #aside1 .box-events h3 a{
	color:#006990;
	font:21px/23px 'pt_sansregular',sans-serif;
	letter-spacing:-0.8px;
}
#aside .box-events em, #aside1 .box-events em{
	font:11px/24px 'pt_sansregular',sans-serif;
	color:#006990;
	margin-left:4px;
	letter-spacing:0.4px;
}
#aside .last-news{
	position:relative;
	padding:15px 0;
}
#aside1 .last-news{
	border-bottom: none;
}
#aside .last-news ul, #aside1 .last-news ul{
	margin:0;
	padding:0;
	list-style:none;
}
#aside .last-news ul li, #aside1 .last-news ul li{
	overflow:hidden;
	height:1%;
	margin-bottom:35px;
}
#aside .last-news ul li img, #aside1 .last-news ul li img{
	float:left;
	margin-bottom:33px;
}
#aside .last-news ul li .text, #aside1 .last-news ul li .text{
	float:left;
	width:178px;
	margin-left:22px;
	margin:-4px 0 0 23px;
}
#aside .last-news ul li .text a, #aside1 .last-news ul li .text a{
	font:18px/24px 'pt_sansbold',sans-serif;
	letter-spacing:-0.5px;
}
#aside .last-news ul li .text em, #aside1 .last-news ul li .text em{
	font:12px/26px 'pt_sansregular',sans-serif;
	color:#8d8d8d;
	display:block;
}
#aside .last-news h2, #aside1 .last-news h2{margin-bottom:27px;}
#aside .topic, #aside1 .topic{
	position:relative;
	padding-top:17px;
}
.wp-polls p .result-title{
    font: 18px 'pt_sansbold', sans-serif;
/*    font-weight: 500;*/
	text-align: left;
/*    width: 415px;*/
    /*float: left;*/
    line-height: 26px;
    color: #037eaa;
    text-transform: uppercase;
	background: url(../images/topic_img.png) no-repeat;
	height: 40px;
	padding-left: 60px;
	display: block;
	background-position: 0px 1px;
}
.wp-polls-ans .wp-polls-ul{
	margin-left: 62px;
	margin-top: 30px;
}
.wp-polls .wp-polls-form p strong{
    font: 18px 'pt_sansbold', sans-serif;
/*    font-weight: 500;*/
	text-align: left;
/*    width: 415px;*/
    /*float: left;*/
    line-height: 26px;
    color: #037eaa;
    text-transform: uppercase;
	background: url(../images/topic_img.png) no-repeat;
	height: 40px;
	padding-left: 60px;
	display: block;
	background-position: 0px 1px;
}
.wp-polls .wp-polls-form .wp-polls-ul{
	margin-left: 60px;
	margin-top: 30px;
}
.wp-polls .wp-polls-form .wp-polls-ul li{
	margin-top: 18px;
	  font-style: italic;
    color: #818181;
}
#back-without{
margin-left: 0px;	
}
.wp-polls .wp-polls-form .wp-polls-ul li label{
	padding-left: 10px;
}

.wp-polls .Buttons{
	background: url(../images/ans.jpg);
	color:#fff;
	font-size: 1px;
	width: 110px;
	height: 27px;
	display:inline-block;
	margin-left: -65px;
}
.wp-polls .Buttons:hover{
	background: url(../images/ans2.jpg);
}
.check-result{
	
}
#aside .topic ul{
	list-style:none;
	margin:0 0 15px;
	padding:0;
}
#aside .topic li{
	font:13px/19px 'pt_sansregular',sans-serif;
	margin-bottom:10px;
}
#aside .topic li p{
	margin:0 0 13px;
	width:268px;
}
#aside .topic h3{
	color:#000;
	font:18px/25px 'pt_sansbold',sans-serif;
	text-transform:uppercase;
	margin:0 0 9px;
}
#aside .topic em{
	font:12px/14px 'pt_sansregular',sans-serif;
	color:#8d8d8d;
	display:block;
	margin-bottom:14px;
}
#aside .topic img{
	vertical-align:top;
	margin-bottom:15px;
}
#aside .topic .more{
	font:15px/18px 'pt_sansregular',sans-serif;
	padding:2px 9px 5px;
}
#aside a.number{
	color:#006990;
	font:24px/26px 'PT Sans Narrow',sans-serif;
	position:absolute;
	right:0px;
	top:14px;
}
#aside .topic .all-topic{
	color:#037eaa;
	background:url(../images/ico-all-topic.gif) no-repeat 0 0;
	display:inline-block;
	padding:3px 5px 3px 41px;
	font:14px/25px 'pt_sansbold',sans-serif;
	text-transform:uppercase;
}
/*colums*/
#main .colums{
	float:left;
	margin-left:-41px;
}
#main .colums .colum{
	float:left;
	width:440px;
	border-top: 2px solid #009ed8;
	margin:0 0 42px 40px;
	position:relative;
	padding:18px 0 0 0;
}
#main .colums .colum .gallery1{
	width:440px;
	padding-top:31px;
}
#main .colums .gallery1 div{
	width:440px;
	height:245px;
}
#main .colums .gallery1 .video{
	margin-left:4px;
	width:440px;
	height:265px;

}
#main .colums .gallery1 div ul li{width:440px;}
#main .colums .colum1{width:501px;}
#main .colums  .info{
	overflow:hidden;
	height:245px;
}
#main .colums .colum1 .alignleft{
	float:left;
	width:247px;
}
#main .colums .colum1 .alignleft img{vertical-align:top;}
#main .colums .colum1 .text{
	float:right;
	background:#e3e3e3;
	color:#0075b2;
	width:206px;
	font:14px/17px 'pt_sansregular',sans-serif;
	padding:6px 18px 49px;
}
#main .colums .colum1 .text p{margin:0;}
#main .colums .colum1 .heading{
	display:inline-block;
	margin-bottom:33px;
}

#main .colums .colum span{
	float:right;
	font:16px/22px 'pt_sansregular',sans-serif;
	color:#006990;
}
.title-video{
	margin-top: 10px;
	width: 220px;
	margin-right: 40px;
}

/*box*/
#main .box{
	overflow:hidden;
	width:100%;
	margin-bottom:29px;
}
#main .box .left, .right{
	border-top:2px solid #79af13;
	padding-top:18px;
}
#main .box .left{
	width:644px;
	float:left;
}
#main .box .right{
	width:297px;
	float:right;
}
#main .box h3{
	font:24px/26px 'pt_sansbold',sans-serif;
	color:#79af13;
	text-transform:uppercase;
	margin:0 0 35px;
}
#main .box .gallery-bottom{
	list-style:none;
	overflow:hidden;
	height:1%;
	margin:0 0 0 -29px;
	padding:0;
}
#main .box .gallery-bottom li{
	float:left;
	margin:0 0 36px 29px;
	
}
#main .box .gallery-bottom li a{
	float:left;
	position:relative;
	width:193px;
	height:151px;
}
#main .box .gallery-bottom li a img{
	vertical-align:top;
	margin-bottom:8px;
	width: 196px;
	height: 129px;

}
#main .box .gallery-bottom li a .img {height:128px;display:block;overflow:hidden;}
#main .box .gallery-bottom li a:hover .img {height:128px;display:block;overflow:hidden;opacity:1; background-color: green;}

#main .box .gallery-bottom li a div{
	top:0;
	position:absolute;
	left:0;
}
#main .box .gallery-bottom li a span{
	font:14px 'pt_sansbold',sans-serif;
	color:#424242;
	text-transform:uppercase;
	padding: 3px 2px 0;
}
#main .box .gallery-bottom li a:hover{text-decoration:none;}
#main .box .gallery-bottom li a:hover span{
	background:#79af13;
	color:#fff;
}


#main .box .gallery-bottom .green-img-lay{
	width: 194px;
	height: 129px;
	background-color:#79af13;
	position: absolute;
	z-index: 9999;
	display: none;
	opacity: 0;
	-webkit-transition: all 0.5s ease;
}
#main .box .gallery-bottom li a:hover .green-img-lay{
	display: block;
	opacity: 0.5;
}
#main .box .gallery-bottom li a:hover div{display:none;}
#main .box .right{
	font:15px/22px 'pt_sansregular',sans-serif;
}
#main .box .right .video{
	width:283px;
	height:200px;
	margin:0 auto 20px;
}
#main .box .right p{
	margin:0;
	padding:0 9px;
}
#main .box .right p strong{
	text-transform:uppercase;
	font:15px/22px 'pt_sansbold',sans-serif;
}
/*footer*/
.footer-holder{
	background:#747575;
	width: 100%;
	position: absolute;
	bottom: 0;
}
#footer{
	width:965px;
	margin:0 auto;
	padding:27px 10px 30px 5px;
}
#footer .top{
	height:55px;
	margin-bottom:19px;
}
#footer .top ul{
	list-style:none;
	float:left;
	margin:0;
	padding:0;
	height:40px;
}
#footer .top ul li{
	float:left;
	background:url(../images/sep-nav-footer.gif) no-repeat 0 8px;
	padding:0 30px;
	text-transform:uppercase;
}
#footer .top ul li:first-child{
	background:none;
	padding-left:0;
}
#footer .top ul li:last-child{
	padding-right: 0px;
}
#footer .top ul li a{
	color:#fff;
	font:14px/24px 'pt_sansbold',sans-serif;
}
#footer .top dl{
	float:right;
	font:18px/24px 'pt_sansbold',sans-serif;
	color: white;
	margin:0;
}
#footer .top dl dd{margin:0;}
#footer .bottom{
	overflow:hidden;
	height:1%;
}
#footer .bottom .contact{
	float:left;
	width:560px;
	padding-top:5px;
	margin-top: -10px;
}
#footer .bottom a.mail,address{float:left;}
#footer .bottom a.mail{
	font:15px/24px 'pt_sansitalic',sans-serif;
	color:#dcdcdc;
	text-decoration:underline;
	margin-right:23px;
}
#footer .bottom a.mail:hover{text-decoration:none;}
#footer .bottom address{
	font:15px/24px 'pt_sansregular',sans-serif;
	color:#dcdcdc;
}
#footer .bottom .wrap{
	float:right;
	width:256px;
}
#footer .bottom .wrap .social-networks{
	list-style:none;
	float:right;
	margin:-2px -5px 0 0;
	padding:0;
}
#footer .bottom .wrap .social-networks li{
	float:left;
	margin-left:10px;
}
#footer .bottom .wrap .social-networks li a{
	float:left;
	text-indent:-9999px;
	overflow:hidden;
	width:15px;
	height:18px;
	padding:5px;
	background:url(../images/social-networks-footer.png) no-repeat 7px 5px;
}
#footer .bottom .wrap .social-networks li.twitter a{background-position:-26px 5px;}
#footer .bottom .wrap .social-networks li.vk-footer a{background-position:-54px 5px; width: 20px; height: 22px;}
#footer .bottom .wrap .some-form{
	float:right;
	margin-right:5px;
}
#footer .bottom .wrap .some-form input[type="text"]{
	width:158px;
	border:1px solid #d6d6d6;
	background:url(../images/ico-search-footer.png) no-repeat 97% 50%;
	padding:3px 5px;
	color:#fff;
}

#main .presidium .box .gallery-box{position:relative;}
#main .presidium .box .gallery-box div img{position:absolute;top:0;}



/* New Style Sedacove */


.maphold .pink{
	position: absolute;
	width: 100px;
	height: 124px;
	float: left;
	margin-top:332px;
	background: url(../images/map-pink.png);

}
.maphold .pink:hover{
	cursor: pointer;
		background: url(../images/map-pink.png);
}
.maphold .yellow{
	width: 139px;
	height: 104px;
	float: left;
	margin-top: 233px;
	margin-left: 20px;
	position: absolute;
}
.maphold .yellow:hover{
	background: url(../images/map-yellow2.png);
	cursor: pointer;
}
.maphold .green{
	width: 352px;
	position: absolute;
	height: 235px;
	float: left;
	margin-top: 54px;
	margin-left: 0px;
}
.maphold .green:hover{
	background: url(../images/map-green.png);
	cursor: pointer;
}

.areas{
    position:absolute;
    z-index: 1;
    margin-top: 5px;
 
}
.areas div{
	cursor: pointer;
	position: absolute;
	
}
 
 .areas div:hover{
	z-index: 1;
}

.map-pink{    
  	margin-top: 367px;
  	margin-left: 108px;
    width: 100px;
    height: 104px;
}
.map-scfo{    
  	margin-top: 405px;
  	margin-left: 113px;
    width: 60px;
    height: 82px;
}
.map-yellow{
	width: 139px;
	height: 105px;
  	margin-top: 269px;
  	margin-left: 127px;
}
 .map-green{
	width: 352px;
	height: 235px;

  	margin-top: 90px;
  	margin-left: 108px;
}
 .map-green2{
	width: 147px;
	height: 154px;

  	margin-top:299px;
  	margin-left: 188px;
}
 .map-red{
	width: 184px;
	height: 256px;

  	margin-top:185px;
  	margin-left:288px;
  	/*z-index: 10;*/
}
 .map-blue{


  	margin-top:113px;
  	margin-left:356px;
}
 .map-yellow2{
	width: 352px;
	height: 482px;
  	margin-top:35px;
  	margin-left:556px;

}
.krim{
	width: 24px;
	height: 27px;
	margin-left: 84px;
	margin-top: 360px;
}
.zapad-img{
	margin-right: 300px;
	position: absolute;
	display: none;
}

.blur{
	display: none;
	width: 800px;
	height: 485px;
	margin-top: 40px;
	  -webkit-filter: blur(5px);
        -moz-filter: blur(5px);
        -ms-filter: blur(5px);
        -o-filter: blur(5px);
        filter: blur(5px);
	margin-left: 80px;
	position: absolute;
	background:url(../images/map-colored.png) no-repeat;
}
#krim:focus,
#map1:focus, 
#map2:focus,
#map3:focus,
#map4:focus,
#map5:focus,
#map6:focus,
#map7:focus,
#map-scfo
{ outline: none; }
#krim-img:focus,
#pink-img:focus, 
#yellow-img:focus,
#green-img:focus,
#green2-img:focus,
#yellow2-img:focus,
#red-img:focus,
#blue-img:focus,
#scfo-img:focus
{ outline: none; }
#dfo area:focus,
#cfo area:focus,
#ufo area:focus,
#szfo area:focus,
#sfo area:focus,
#scfo area:focus,
#pfo area:focus{
	outline: none; 
}



.region_line:last-child{ 
	display: none;
}

#scfo_volgograd:focus,
#scfo_karach_cherkessia:focus,
#scfo_kalmikia:focus,
#scfo_rostov:focus,
#scfo_osetia:focus,
#scfo_ingooshetia:focus,
#cfo_woscow:focus,
#cfo_voronezh:focus,
#szfo_piter:focus,
#dfo_habarovsk:focus,
#ufo_hantimahsisk:focus,
#ufo_sverlowsk:focus,
#sfo_novosibirsk:focus,
#sfo_hakasia:focus,
#pfo_udmurtia:focus,
#pfo_ni_novgorod:focus
{
	outline: none; 
}

#topic-main{
	margin-top: -20px;
}
#box-events-main{
	margin-top: 30px;
	border-bottom-color: white;
}
#main-event{
	width:304px;
	height: 370px;
	margin-top: -70px;
}
#main-event h3{
	width: 304px;
}
#content .gallery1 .link-prev, #content .gallery1 .link-next{
	position: absolute;
	top:13px;
	text-indent: -9999px;
	width: 32px;
	height: 32px;
	overflow: hidden;
}
#content .gallery1 a:hover{opacity:0.5;}
#content .gallery1 .link-prev{
	background: url("../images/link-prev.png") no-repeat;
	right:22px;
}
#content .gallery1 .link-next{
	background: url("../images/link-next.png") no-repeat;
	right: -11px;
}
.colums .gallery1 .link-prev, .colums .gallery1 .link-next{
	position: absolute;
	top: 0px;
	text-indent: -9999px;
	width: 32px;
	height: 32px;
}
.colums .gallery1 a:hover{opacity:0.5;}
.colums .gallery1 .link-prev{
	background: url("../images/link-prev.png") no-repeat;
	right:22px;
}
.colums .gallery1 .link-next{
	background: url("../images/link-next.png") no-repeat;
	right: -11px;
}





#main-event   .link-prev, #main-event .link-next{
	position: absolute;
	margin-right: 349px;
	text-indent: -9999px;
	margin-top: -12px;
	width: 32px;
	height: 32px;
	z-index: 9999;

}

#agency   .link-prev, #agency .link-next{
	position: absolute;
	margin-left: 290px;
	text-indent: -9999px;
	margin-top: -320px;
	width: 32px;
	height: 32px;
	z-index: 9999;

}

#agency  .link-prev{
	background: url("../images/link-prev.png") no-repeat;
	margin-left: -35px;
}
#agency   .link-next{
	background: url("../images/link-next.png") no-repeat;
}

#main-event  .link-prev{
	background: url("../images/link-prev.png") no-repeat;
}
#main-event   .link-next{
	background: url("../images/link-next.png") no-repeat;
}

#main-event  a:hover{opacity:0.5;}


#main-event  div{
	width:304px;
	overflow:hidden;

	position:relative;
}
#main-event  div ul{
	position:absolute;
	width:99999px;
	padding:0;
	margin: 0;
	list-style:none;
	overflow:hidden;
}
#main-event  div ul li{
	float:left;
	width: 272px;
	margin-top: 40px;
}
#main #main-event  div ul li div{
	width: 300px;
	text-align: center;
}
#main #main-event  div ul li h3{
	text-align: center;
}
#main #main-event  div ul li img{
	width: 272px;
	height: 186px;
	margin: 0 auto;
	margin-bottom: 15px;
}

#down-video{
	margin-top: 26px;
}
.alignleft img{
	width: 248px;
	height: 243px;	
}
.info .text{
	width: 248px;
	height: 243px;
}
.box .right strong{
	font-family: 'pt_sansbold';
}
.social-sidebar{
	float: left;
	width: 400px;
}
.social-sidebar ul{
	float: right;
	list-style: none;
	margin-left: -40px;
}
.social-sidebar ul li{
	float: left;
	margin-left: 5px;
}
.article-title:first-child img{
	display: none;
}
.who .city{
	position: static;
}
.city{
	position: absolute;
}
.city .pin{
	width: 25px;
	color: black;
	text-align: center;
	padding: 8px 0px 8px 0px;
	font-size: 16px;
	background-color: #6BBCDB;	
	display: block;
	line-height: 0.2;
	margin: 0 auto;
}
.city span{
font:13px/24px 'pt_sansbold', sans-serif;
}
.city .pin:hover{
	color:#a2ddef;
	background-color:#464847;	
}
.city a:hover{
	text-decoration: none;
}

.convocation_prev{
	width: 224px;
	height: 292px;
}
.under-lay{
	width: 1000px;
	height: 600px;
	margin-top: -60px;
	position: absolute;
	display: none;
}
.colum .link-next, .colum .link-prev{
	z-index: 9999;
	position: absolute;
}
#galery-video{
	position: absolute;  
	margin-top: -25px;
	width: 100px;
}

#galery-people{
	position: absolute;  
	margin-top: -60px;
}

#people-colum{
	list-style:none;
	height: 300px;
}

#main .colums .gallery1 .people .img{
	width: 234px;
	height: 243px;
	margin-top: 32px;
	float: left;
}
#main .colums .gallery1 .people .img img{
	width: 234px;
	height: 243px;
}

#main .colums .gallery1 .people .text{
	float: left;
	background:#e3e3e3;
	color:#0075b2;
	width:210px;
	font:14px/17px 'pt_sansregular',sans-serif;
	padding:6px 18px 49px;
	height: 189px;
	margin-left: 20px;
	margin-top: 32px;
}

#main .colums #people-colum .gallery1{
	width:100%;
	padding-top:31px;
}

#main .colums .gallery1 .people{
	width: 500px;
	height:345px;
	margin-top: -55px;

}

#main .colums .gallery1 .people ul li{width:500px;
margin-top: 28px;

}
#main .colums #galery-people span{
	display: block;
	width: 300px;
	margin-right: 10px;
	
}
#cont-region .wp-pagenavi{
	margin-top: 10px;
}
#main .gallery1 .main-post-index{
	width: 100%;
	height:670px;
}
.content-main-left{
	width: 645px;
	float: left;

}
.clear{
	clear: both;
}
.content-main{
	width: 100%;
}
.content-main-right{ 
	width: 300px;
	float: right;

}
#content .question .gallery1 .social-sidebar{
	width: 300px;
	font-family: 'pt_sansbold';
	font-size: 16px;
	color: #006990;
	margin-top: 4px;
	margin-left: 15px;
}
#content .question .gallery1 .social-sidebar img{
	vertical-align: -180%;
}
#content .question .gallery1 .social-sidebar .first-soc{
	margin-left: 10px;
}
.last-comments{
	width: 100%;
	border-top: 2px solid #009ed8;
	margin-top: -15px;
	padding-bottom: 80px;
	padding-top: 15px;
}
.last-comments h3{
	text-transform: none;
}
.block-comment{
	width: 100%;
	height: 330px;
	overflow-y: scroll;
	margin-top: 20px;
}
.block-comment .comment {
	padding-bottom: 30px;
}
.block-comment .comment .pic{
	width: 42px;
	height: 42px;
	float: left;
}
.block-comment .comment .pic img{
	width: 42px;
	height: 42px;
}
.block-comment .comment .text{
	width: 495px;
	float: right;
	line-height: 0.8;
	margin-right: 50px;
}
.block-comment .comment .text p{
	color:#545454;
	font-size: 15px;
	font-family: 'pt_sansitalic';
	line-height: 1.3;
}
.block-comment .comment .text span{
	color:#545454;
	font-size: 13px;	
	font-family: 'pt_sansbold';
}
.block-comment .comment .text a{
	color:#757474;
	font-size: 12px;
	font-family: 'pt_sansbold';
	margin-left: 20px;
	text-decoration: underline;
}
.block-comment .comment .text a:hover{
	text-decoration: none;
}
.text-p{
	margin-top: -1px;
}
.info-p{
	margin-top: -8px;
	line-height: 0.9;
}

.next-webinars {
    width: 100%;
    border-top: 2px solid #009ed8;
    margin-top: -15px;
    padding-bottom: 80px;
    padding-top: 15px;
}
.next-webinars h2{
    text-transform: none;
    margin-bottom: 20px;
}
#main .next-webinars .slider-in-left-side .gallery1 {
    height: 350px;
    margin-top: -30px;
    width: 100%;
    overflow: hidden;
    padding: 27px 0 0;
    position: relative;
}

#main .next-webinars  .slider-in-left-side .gallery1 div {
    height: 350px;
}
#main .next-webinars .gallery1 .link-prev {
    background: url("../images/ll.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 1px;
    height: 166px;
    margin-left: 0;
    left: 0;
    margin-top: 27px;
    position: absolute;
    width: 38px;
}
#main .next-webinars .gallery1 .link-next {
    background: url("../images/lr.jpg") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    display: block;
    font-size: 1px;
    height: 67px;
    margin-left: 497px;
    margin-top: 27px;
    position: absolute;
    width: 38px;
    right: 0;
}
#main .next-webinars .slider-in-left-side .gallery1 div {
    width: 500px;
    margin-left: 70px;
}

#main .next-webinars .slider-in-left-side .gallery1 div ul li {
    height: 350px;
    width: 146px;
    line-height: 1.3;
}
#main .next-webinars .slider-in-left-side .gallery1 div ul li div.time-to-veb{
	margin-top: -30px;
	width: 146px;
	height: 20px;
	margin-left: 0px;
	overflow: inherit;
	padding-bottom: 20px;
	color: black;
	font-family: 'pt_sansregular';
	font-size: 14px;
}
#main .next-webinars .slider-in-left-side .gallery1 div ul li div.time-to-veb {
	font-family: 'pt_sansregular';
	font-size: 15px;
	color: black;
}
#main .next-webinars .slider-in-left-side .gallery1 div ul li  h4{
	margin-top: 8px;
}
#main .next-webinars .slider-in-left-side .gallery1 div ul li strong{
	display: block;
	color: #545454;
	font-family: 'pt_sansbold';
	margin-top: -12px;
	font-size: 16px;
}
#main .next-webinars .slider-in-left-side .gallery1 div ul li .more-veb{
	font: 15px/18px 'pt_sansitalic',sans-serif;
	display: block;
	margin-top: 8px;

}
#main .next-webinars .slider-in-left-side .gallery1 div ul li  h4 a{
	color: #037eaa;
	font-size: 16px;
}

#main .next-webinars .slider-in-left-side .gallery1 div ul li div.time-to-veb span{
	font-size: 16px;
	font-family: 'pt_sansregular';
	display: block;
	text-transform: none;
	margin-top: 0px;
	display: inline;
	color: black;
}
.videos-list{
	width: 450px;
	display: inline-block;
	float: left;
	padding: 10px 20px;
}
.video-title{
	height:50px;
}
.link-to-prev-page a{
	float: right;
	margin-top: -10px;
	text-transform: uppercase;
	font-family: 'pt_sansregular';
	font-size: 17px;
	color:#006990;
}
.link-to-prev-page a:hover{
	text-decoration: none;
}
.aside-single #box-in-main{
	border-bottom: 2px solid #009ed8;;
}
.aside-single #box-in-main{
	padding-bottom: 0px;
}

.aside-single #main-event   .link-prev, .aside-single #main-event .link-next{
	position: absolute;
	margin-left:274px;
	text-indent: -9999px;
	margin-top: -2px;
	width: 32px;
	height: 32px;
	z-index: 9999;

}
.aside-single #main-event   .link-prev{
	margin-left: 242px;
}

#main .colums .gallery1 .block-video{
	height: 350px;
	margin-top: -40px;
}
 #main .colums .gallery1 .block-video .video-main p iframe{
	margin-top: -13px;
}
#main .colums .gallery1 .block-video .video-main{
	height: 400px;
}
/* info about region people */
#main .gallery1 div.photo-reg{
	width: 105px;
	height: 96px;
	float: left;
}
#main .gallery1 div.photo-reg img{
	width: 105px;
	height: 96px;
}
#main .gallery1 div.contact-representative{ 
height: 100px;
}
#main .gallery1 div.clear{
	width: 0px;
	height: 0px;
}
#main .gallery1 div.non-height{
	height: 350px;
}
#main .gallery1 div.info-reg{
	width: 166px;
	float: none;
	float: left;
	margin-left: 15px;
	line-height: 1.1;
	height: 100px;
}
.info-reg h2{
	font-size: 18px;
	font-family: 'pt_sansbold';
	color:#267699;
	margin-top: 10px;
	text-transform: uppercase;
}
.info-reg h2 span{
	font-size: 13px;
}
.info-reg .title{
	font-size: 13px;
	font-family: 'pt_sansitalic';
	color:#267699;
}
#main .gallery1 div ul li p.text-representative{
	color:#545454;
	font-size: 13px;
	font-family: 'pt_sansregular';
	width: 290px;
	margin-top: 10px;
	line-height: 1.5;
}
#agency{
	margin-top: -40px;
}
.contact-representative ul{
	list-style: none;
	margin-left: -40px;
}
.contact-representative span{ 
	display: block;
	margin-top: 10px;
	width: 250px;
	color:#1d1d1d;
	font-size: 13px;
	font-family: 'pt_sansbold';
	padding-left: 45px;
	text-transform: uppercase;
}
.contact-representative .phone{
	background: url(../images/phone-contact.jpg) no-repeat;
}
.contact-representative .mail{
	background: url(../images/mail-contact.jpg) no-repeat;
	background-position: 0px -5px;
	margin-left: -4px;
	padding-left: 49px;
}
#social-events{
	color:#1d1d1d;
	font-size: 13px;
	font-family: 'pt_sansbold';
	line-height: 2.3;
}

#social-events a{
	margin-left: 3px;
}
#social-events .first-soc{
	margin-left: 13px;
}
.enter-to a{
	background-color: red;
}


#main .form-join{
	border-top: 2px solid #009ed8;
	padding:37px 0 0;
}
.form-join .form{
	padding-bottom: 40px;
	width: 530px;
	float: left;
}
.form-join .form ul{
	list-style: none;
	width: 530px;
	margin-left: -40px;
	margin-top: 50px;

}
.form-join .form ul li{
	float:left;
	padding-bottom: 20px;
}
.form-join .form ul li:last-child{
	float: none;

}
.form-join .form ul .text-forms{
	width: 250px;
	color: black;
	font-size: 16px;
	font-family: 'pt_sansbold';
	line-height: 1.3;
}.form-join .form ul .clear{
	clear: both;
}
.form-join .form ul .text-forms span{
	color: #6B6B6B;
	font-size:12px;
	font-family: 'pt_sansregular';
	display: block;
	line-height: 1.2;
	margin-top: 5px;
	
}

.form-join .form ul .input-forms{
	width: 225px;
	margin-left: 50px;
}
.form-join .form ul .apply{
	width: 8%;
}
.form-join .form ul .apply input{
	margin-left: -5px;
}
.form-join .form ul .apply-text{
	width: 91%;
}
.form-join .form ul li.apply-text, .form-join .form ul li.apply{
	padding-bottom: 0px;
}
.form-join .form ul .apply-text p{
	color: #6B6B6B;
	font-size:14px;
	font-family: 'pt_sansregular';
	line-height: 1.3;
	margin-top: 5px;
	margin-left: -5px;
	padding-bottom: 20px;

}
.form-join .form ul .input-forms input[type=text]{
	width: 200px;
	height: 24px;
	padding:0px 10px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bebebe;

}
.form-join .form ul .input-forms input[type=submit]{
	background-color: #009ed8;
	border: none;
	color: white;
	padding: 8px 18px;
	font-size: 15px;
	font-family: 'pt_sansbold';
	float: right;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border-bottom: 3px solid #016d94;
	cursor: pointer;
	
}
.form-join .form ul .input-forms textarea{
	width: 200px;
	height: 24px;
	padding:0px 10px;
	resize: none;
	padding-top: 10px;
	height: 90px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	border: 1px solid #bebebe;
}
.form-join .form ul .input-forms input:focus,.form-join .form ul .input-forms textarea:focus{
	border: 1px solid #009ed8;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 0px 10px 5px #888;
	box-shadow: 0px 0px 3px #009ed8;
}

.map-cont{
	float: right;
	margin-top: 45px;
}
.main-play{
	width: 20px;
	height: 20px;
	background: url(../images/play.jpg);
	border: none;
	cursor: pointer;
	display: block;
}
.main-play:focus,.main-pause:focus{
	outline: none;
}
.main-pause{
	width: 20px;
	margin-left: 4px;
	vertical-align: 120%;
	height: 20px;
	background: url(../images/pause.jpg) no-repeat;
	border: none;
	cursor: pointer;
	display: none;
}
.buttons-play{
	position: absolute;
	margin-top: -25px;
	margin-left: -38px;
}
.container-project{
	border-top: 2px solid #009ed8;
	padding: 18px 0 60px;
}
.title-project h1{
    color: #000;
    margin-top: 27px;
    font: 36px 'pt_sansbold',sans-serif;
    text-transform: uppercase;
}
.block-content-project strong{
	font-family: 'pt_sansbold';
	font-size: 18px;
}
.anthem{
	border-top: 2px solid #009ed8;
	padding: 20px 0px;
}
.author-anthem{
	float: left;
	color:#545454;
	text-transform: uppercase;
	font-family: 'pt_sansbold';
	font-size: 14px;
	width: 160px;
	padding: 14px 0px 0px 82px;
	height: 50px;
	line-height: 1.3;
	background-color:red;
	background: url(../images/author.png) no-repeat;
}
.anthem-button{
	float: right;
	margin-top: 11px;
	width: 300px;
	height: 65px;
	text-transform: uppercase;
	color:#009ed8;
	font-family: 'pt_sansbold';
	font-size: 20px;
}
.anthem-button span{
	color:#424242;
	text-transform: none;
	margin-left: -10px;
}
.anthem-button span i{
	font-style: normal;
	color:#bcbcbc;
}
.anthem-button button{
	cursor: pointer;
	margin-top: -25px;
	margin-right: 60px;
	float: right;
	border: none;
	width: 49px;
	height: 49px;
	background: url(../images/button-anthem.jpg) no-repeat;
}
.anthem-button button:focus{
	outline: none;
}
.anthem-button .play{
	background-position: 0px -49px;
}
.anthem-button .pause{
	display: none;
}
.anthem .string{ 
	display: none;
	color:#545454;
	font-size: 14px;
	font-family: 'pt_sansitalic';
}

#mask {
  position:absolute;
  left:0;
  top:0;
  z-index:99999;
  background-color:#000;
  display:none;
  width: 100%;
  height: 100%;
}
  
#boxes .window {
  position:absolute;
  left:0;
  top:0;
  display:none;
  z-index:99999999;

}
#boxes #dialog1 {
	margin-top: 440px;
  width:1000px; 
	height: 1350px;
  padding:15px;
  background-color:#ffffff;
  position: absolute;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#boxes #dialog3 {
  width:270px; 
	height: 460px;
  padding:25px;
  margin-top: 20px;
  background-color:#ffffff;
  position: absolute;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#boxes #dialog3 label{
	display: block;
	font-family: 'pt_sansbold';
	color: black;
}
#boxes #dialog3  span{
	color: #6B6B6B;
	font-size:12px;
	font-family: 'pt_sansregular';
	display: block;
	line-height: 1.2;
	margin-top: 5px;
	
}
#boxes #dialog3 input[type="text"], #boxes #dialog3 input[type="password"]{

  border:1px solid #BEBEBE;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  height:24px;
  padding-left:10px;
  width: 250px;
 }

 #boxes #dialog3 input[type="submit"] {
  background-color:#009ED8;
  border-bottom-color:#016D94;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-width:3px;
  border-style:none none solid;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  color:white;
  cursor:pointer;
  font-family:pt_sansbold;
  font-size:15px;
  padding:8px 18px;
}
#boxes #dialog3 .close{
	width: 50px;
	height: 50px;
	background: url(../images/close-popup.png) no-repeat;
	background-size: 30px 30px;
	display: block;
	position: absolute;
	margin-top: -40px;
	margin-left: 275px;
	z-index: 9999999;
}
#dialog1 span{
	font:20px/34px 'pt_sansbold',sans-serif;
	color:#000;
	text-transform:uppercase;
}
#boxes #dialog1 .close{
	width: 50px;
	height: 50px;
	background: url(../images/close-popup.png) no-repeat;
	background-size: 30px 30px;
	display: block;
	position: absolute;
	margin-top: -30px;
	margin-left: 1000px;
	z-index: 9999999;
}
#boxes #dialog {
	margin-top: -20px;
	position: fixed;
  width:560px; 
  height:315px;
  padding:8px;
  background-color:#ffffff;
  -webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}
#boxes #dialog .close{
	width: 50px;
	height: 50px;
	background: url(../images/close-popup.png) no-repeat;
	background-size: 30px 30px;
	display: block;
	position: absolute;
	margin-top: -345px;
	margin-left: 550px;
	z-index: 9999999;
}

.calendar{
	text-transform: uppercase;
	margin-top: -23px;
	margin-left: 105px;
}
.calendar span{
	float: left;
	color:#3f3f3f;
		font-size: 14px;
	font-family: 'pt_sansbold';
	margin-left:11px;
}
.calendar i{
	font-style: normal;
	cursor: pointer;
	display: block;
	float: left;
	width: 23px;
	height: 22px;
	text-align: center;
	margin-left:11px;
	color:#006990;
	font-size: 14px;
	font-family: 'pt_sansbold';
}
#content .gallery1 .calendar i:hover{opacity:1;}
.calendar i:hover{
background-color: #006892;
color: white;
text-decoration: none;
}
.calendar i.selected{
	background-color: #006892;
	color: white;
	text-decoration: none;
}
#main .gallery1 div.calendar{
	height: 30px;
}
#main #main-block-height ul{
	list-style: none;
	margin-left: -40px;
}
#main #main-block-height .text strong {
  color:#000000;
  float:left;
  font-family:pt_sansregular, sans-serif;
  font-size:20px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  letter-spacing:0.2px;
  line-height:34px;
  text-transform:uppercase;
  width:495px;
}
#main #main-block-height .more{
	margin-top: 20px;
}
#main #main-block-height .text em {
  color:#8D8D8D;
  float:right;
  font-family:pt_sansregular, sans-serif;
  font-size:14px;
  font-style:normal;
  font-variant:normal;
  font-weight:normal;
  line-height:28px;
}
.container-photo{
	width: 635px;
	height: 430px;
}
.container-photo div{
	width: 305px;
	overflow: hidden;
	height: 200px;
	float: left;
	margin-top: 3px;
	padding: 5px;
}
.container-photo div.height-3{
	width: 620px;
}
.container-photo div.height{
	height: 410px;
}
.container-photo div img{
	width: 150%;
}
.container-photo div.height img{
	width: 220%;
}
.container-photo div.heightAndWidth{
	width: 305px;
	height: 200px;
}
.block-to-width{
	margin-top: 20px;
}
.block-margin-text{
	margin-top: 50px;
}
.big-img-cal{
	text-align:center; 
	margin-top: 20px;
}
.big-img-cal img{
	max-width: 580px;
}
/* Письмо маме */
.book-leaf{
	width: 100%;
	background: url(../images/book-leaf.jpg);
	height: 640px;
	margin: 0 auto;
	padding-top: 1px;
}
.book-leaf-top{
	width: 901px;
	height: 420px;
	background-color: white;
	margin: 0 auto;
	margin-top: 40px;
	border-left: 1px solid white;
	border-right: 1px solid #c3b6a6;
}
.book-leaf-bottom{
	width: 903px;
	height: 115px;
	margin: 0 auto;
	background: url(../images/leaf-bottom.png) no-repeat;
}
.book-leaf-top .pictures-block{
	padding-bottom: 5px;
}
.book-leaf-top .pictures-block #main-img-his-left{
	padding-top: 0px;
}
.book-leaf-top .pictures-block img{
	width: 58px;
	height: 43px;
	padding-right: 8px;
	padding-bottom: 3px;
	cursor: pointer;
	padding-top: 10px;
}
.book-leaf-top .pictures-block img:first-child{
	width: 335px;
	height: 216px;
}
.book-leaf .book-left{
	float: left;
	width: 375px;
	margin-left: 60px;
	margin-top: 30px;
	border-right: 1px solid #e5e5e5;
	min-height: 314px;
}
.book-leaf .who{
	width: 270px;
}
.book-leaf .who span{
	text-transform: uppercase;
	color:#d83933;
	font-size: 15px;
	font-family: 'pt_sansbold';
}
.book-leaf .who span.city{
	color:#545454;
}
.right-info .name{
	text-transform: uppercase;
	color:#d83933;
	font-size: 15px;
	font-family: 'pt_sansbold';
}
.book-leaf  span.date{
	float: right;
	color:#545454;
	font-size: 12px;
	font-family: 'pt_sansitalic';
	margin-right: 35px;
}
.book-leaf .book-right{
	width: 368px;
	float: right;
	margin-right: 50px;
	margin-top:30px;
	height: 384px;
	overflow: scroll;
	overflow-x:hidden;
	padding-bottom: 10px;
}
.his-right .book-right .pages{
	font-family: 'pt_sansregular';
	font-size: 16px;
	position: absolute;
	margin-top: -50px;
	margin-left: 150px;
}
.his-right .book-right .pages span{
	font-weight: bold;
	font-size: 18px;
}
.under-leaf{
	background-color:red;
}
.under-leaf .social{
	float: right;
	margin-right: 100px;
	margin-top: 30px;
}
.book-leaf .book-right p{
	width: 350px;
	color: black;
	font-family: 'pt_sansregular';
	font-size: 16px;
	line-height: 1.6;
	padding-bottom: 0px;
	margin-top: -5px;
}
.book-leaf .book-right p strong{
	font-family: 'pt_sansbold';
	font-style: italic;
}
/* */




.block-disqus{
	float: left;
	width: 645px;
	border-top: 2px solid #009ed8;
	margin-top: 30px;
}
.block-disqus h2,.block-last-posts h2{
	font-size: 24px;
	font-family: 'pt_sansbold';
	color:#267699;
	margin-top: 15px;
}
.block-last-posts{
	float: right;
	width: 296px;
	border-top: 2px solid #009ed8;
	border-bottom: 2px solid #009ed8;
	padding-bottom: 50px;
	margin-top: 70px;
}

#page-mail aside#aside{
	margin-top: 30px;
	padding-top: 0px;
	border-top: 2px solid #009ed8;
}
.block-slider-mother{
	width: 100%;
	height: 415px;
	background: url(../images/wrapper-slider.jpg)no-repeat;
}
.block-to-write{
	margin-top: 35px;
	margin-left: -10px;
}
.block-to-write h2{
	color: black;
	font-size: 32px;
	font-family: 'pt_sansitalic';
	background: url(../images/write.png) no-repeat;
	padding-left: 40px;
}
.block-to-write a{
	color:#009ed8;
	font-size: 12px;
	float: right;
	font-family: 'pt_sansbold';
	text-transform: uppercase;
	border: 1px solid #009ed8;
	padding: 1px 5px;
}
.block-to-write a:hover{
	text-decoration: none;
}
.block-mail{
	border: 3px dashed #009ed8;
	padding: 20px 40px;
	margin-top: 45px;
}
.first-inputs{
	width: 600px;
	float: left;
}
.first-inputs ul{
	list-style: none;
	margin-left: -40px;
}
.first-inputs ul li{
	float: left;
	padding-bottom: 8px;
}
.first-inputs ul .input-with-text{
	width: 107px;
	text-transform: uppercase;
	color: #545454;
	font-size: 15px;
	font-family: 'pt_sansbold';
}
.first-inputs ul .input-width-input{
	width: 190px;
}.first-inputs ul li.clear{
	clear: both;
	float: none;
}
.first-inputs ul .input-width-input input{
	width: 165px;
	height: 30px;
	border: 1px solid #d6d6d6;
	padding: 0px 10px;
	margin-top: -3px;
}
.first-inputs ul .field{
	width: 120px;
	color:#545454;
	font-size: 12px;
	font-family: 'pt_sansregular';
	margin-left: 45px;
	margin-top: -5px;
	line-height: 1.3;
}
.upload-wrapper{
	float: right;
	width: 225px;
}
#mother-upload{
	width: 225px;
	height: 135px;
	border: 1px solid #d6d6d6;
	margin-top: 11px;
	background: url(../images/upload.jpg) no-repeat;
	background-position: 50% 50%;
}
#mother-upload input{
	width: 94px;
	height: 71px;
	border: none;
	text-indent: 999999px;
	margin-left: 68px;
	background-image: none;
	margin-top: 32px;
	opacity: 0;
	cursor: pointer;
}
.block-textarea h3{
	color:#545454;
	font-size: 18px;
	font-family: 'pt_sansbold';
}
.block-textarea div{
	width: 100%;
	height: 215px;
	border: 1px solid #d6d6d6;
}
.block-textarea div textarea{
	width: 95%;
	margin-left: 2%;
	margin-top: 2%;
	height: 130px;
	resize: none;
	border: none;
	color:#545454;
	font-size: 14px;
	font-family: 'pt_sansregular';
}
.block-textarea div input{
	color: #ffffff;
	font-size: 14px;
	font-family: 'pt_sansbold';
	border: none;
	background-color:#009ed8;
	width: 176px;
	height: 36px;
	float: right;
	text-transform: uppercase;
	margin-right: 8px;
	margin-top: 20px;
	cursor: pointer;
}
.block-to-write .public{
	float: right;
	color:#545454;
	font-size: 12px;
	font-family: 'pt_sansregular';
	margin-top: 10px;
	margin-right: 42px;
}
.mothers{
	margin-top: 40px;
	width: 100%;
}
#mail-mother .colums .colum .gallery1 {
	width: 470px;
}
#mail-mother .colums .gallery1 div.block-mother{
	width: 490px;
	height: 527px;
	margin-top: -10px;
	
}

#mail-mother .colums .colum{
	height: 420px;
	width:  470px;
}
#mail-mother .colums .gallery1{
	height: 600px;
}
#mail-mother .colums .gallery1 div.block-mother .mother-wrap{
	width: 490px;
	height: 587px;
	background: url(../images/mother-wrap.png) no-repeat;
	background-size: 98%;
}
#main .colums .gallery1 div.wrap-main-big{
	width: 430px;
	margin-left: 20px;
	margin-top: 30px;
	height: 270px;
	background-color: white;
}
#mail-mother .colums .gallery1 div.block-mother .mail-wrap{
	width: 470px;
	border-top: none;
	height: 286px;
	margin-left: -3px;
	margin-top: 20px;
	background: url(../images/week-letter-wrap.png);
	background-size: 470px 286px;
	
}



#main .colums .gallery1 div.photo{
	float: left;
	width: 225px;
	margin-left: 5px;
	height: 258px;
	margin-top:6px;
}
#main .colums .gallery1 div.photo img{
	width: 230px;
	height: 258px;
}
#main .colums .gallery1 div.photo img#photo_mail_week{
	width: 230px;
	height: 160px !important;
}
#main .colums .gallery1 div.photo .read_all, .under-leaf .read_all{
	color: #0078c2;
	font-size: 16px;
	font-family: 'pt_sansbold';
	font-style: italic;
	background: url(../images/letter-read.png) no-repeat;
	background-position: 0px -4px;
	display: block;
	height: 31px;
	padding-left: 40px;
	margin-top: 15px;
}
#main .colums .gallery1 div.photo .read_all:hover, .under-leaf .read_all:hover{
	text-decoration: none;
	color: #0078c2;
	opacity: 1;
}
.under-leaf .read_all{
	float: left;
	margin-left: 40px;
	margin-top: 35px;
}
#main .colums .gallery1 div.text-mother, #main .colums .gallery1 div.quote{
	float: right;
	width: 200px;
	height: 260px;
	margin-top: 25px;
	margin-right: 10px;
}
#main .colums .gallery1 div.text-mother, #main .colums .gallery1 div.quote p{
	margin-top: -15px;
	max-height: 250px;
	overflow: hidden;
	width: 220px;
}
#main .colums .gallery1 div.text-mother{
	margin-top: 10px;
	margin-right: 10px;
	width: 180px;
}
#main .colums .gallery1 div.text-mother .title{
	color:#0078c2;
	font-size: 18px;
	text-transform: uppercase;
	font-family: 'pt_sansbold';
	display: block;
	margin-top: -2px;
}
#main .colums .gallery1 div.text-mother p{
	color: #000000;
	width: 180px;
	font-size: 13px;
	font-family: 'pt_sansregular';
	text-transform: none;
	margin-top: -22px;
	line-height: 1.6;
	height: 160px;
	overflow: hidden;
}
#main .colums .gallery1 div.text-mother .more{
	margin-top:10px;
	float: right;
}
 #main .colums .gallery1 div.text-mother #read_more_mother{
	margin-top: -10px;
}
#main .colums .gallery1 div.text-mother div.parag{
	width: 180px;
	margin-top: -45px;
	height: 188px;
}
.mail-wrap div.quote i{
	color: #cfcfcf;
	font-size: 46px;
	font-family: 'pt_sansitalic';
}
.mail-wrap div.quote i.right-dot{
	float: right;
	margin-right: 15px;
	margin-top: -25px;
}
 #main .gallery1 .mail-wrap div.quote  p{
	color: #454545;
	font-size: 16px;
	font-family: 'pt_sansbold';
	font-style:italic;
	width: 190px;
	margin-top: 0px;
	line-height: 1.7;
}
 #main .gallery1 .mail-wrap div.quote .more{
 	margin-top: -10px;
 	float: right;
 	margin-right: 15px;
 }

#mail-mother #list-preview li {
    list-style: none;
    float: right;
    margin-right: 10px;
    height: 100px;
    width: 100px;
    overflow: hidden;
}
#mail-mother #list-preview li img{
	width: 10px;
	height: 10px;
}
#list-preview{
	margin-top: -30px;
	height: 90px;
	width: 70%;
	float: right;
}

/********************
 * FEATURE CAROUSEL *
 ********************/
/*** Overall MovingBoxes Slider ***/
.mb-wrapper {
	width: 980px;
	height:366px;
	margin: 0 auto 20px;
	position: relative;
	left: 0;
	top: 0;
}

/* Panel Wrapper */
.mb-slider, .mb-scroll {
	width: 980px;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	position: relative;
	left: 0;
	top: 0;

	/***(>'-')> Control Panel Font size here <('-'<)***/
	font-size: 18px;
}
#slider-one { width: 980px; height: 500px;
margin-top: 5px;
margin-left: 3px;
padding-top: 20px;
}
#slider-one > li { width: 325px; height: 405px;}
/* active slider border highlight */
.mb-active-slider {
	border-color: #333;
}

/*** Slider panel ***/
.mb-slider .mb-panel {
	margin: 0;
	padding: 20px;
	display: block;
	cursor: pointer;
	float: left;
	list-style: none;
}

/* Cursor to arrow over current panel, pointer for all others,
change .current class name using plugin option, currentPanel : 'current' */
.mb-slider .mb-panel.current {
	cursor: auto;
}

/*** Inside the panel ***/

.current{
	width: 400px;
	height: 400px;
}
#slider-one .pos{
	display: none;
}

#slider-one li img{
	width: 242px;
	height: 170px;
	border: 7px solid white;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
		-webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.75);
}
#slider-one .current .mb-inside img{
	width: 100%;
	height: 230px;
	margin-left: -15px;
	margin-top: -30px;
}
#slider-one .current .mb-inside{
	width: 340px;
}
#slider-one .current .mb-inside .pos{
	display: block;
	position: absolute;
	margin-left: -335px;
	width: 990px;
	margin-top: 20px;
	background: rgba(255,255,255,0.85)
}
.mb-inside * {
	max-width: 100%;
}

/*** Left & Right Navigation Arrows ***/
a.mb-scrollButtons {
	display: block;
	width: 36px;
	height: 66px;
	position: absolute;
	top: 50%;
	margin-top: -65px; /* if you change the arrow images, you may have to adjust this (1/2 height of arrow image) */
	cursor: pointer;
	text-decoration: none;
	outline: 0;
	border: 0;
}
a.mb-scrollButtons.mb-left {
	background-position: left top;
	left: -20px;
	background: transparent url(../images/big-dot-left.png) no-repeat;
}
a.mb-scrollButtons.mb-right {
	background-position: right top;
	right: -20px;
	background: transparent url(../images/bit-dot-right.png) no-repeat;
}

a.mb-scrollButtons.disabled {
	display: none;
}

/*** Controls added below the panels ***/
.mb-controls {
	margin: 0 auto;
	text-align: center;
	background: #ccc;
	position: relative;
	z-index: 100;
}
.mb-controls a {
	display: none;
}

.mb-active-slider .mb-controls {
	background: #333;
}
#nav li#open-login-form a{
	background: #b6e9fc; /* Old browsers */
background: -moz-linear-gradient(top,  #b6e9fc 0%, #6dd5f8 4%, #3fc8f2 8%, #40c7f6 12%, #40c5f2 16%, #3cc3f2 24%, #3dbcef 36%, #34a4e6 92%, #33a0e3 96%, #65b1e2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6e9fc), color-stop(4%,#6dd5f8), color-stop(8%,#3fc8f2), color-stop(12%,#40c7f6), color-stop(16%,#40c5f2), color-stop(24%,#3cc3f2), color-stop(36%,#3dbcef), color-stop(92%,#34a4e6), color-stop(96%,#33a0e3), color-stop(100%,#65b1e2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e9fc', endColorstr='#65b1e2',GradientType=0 ); /* IE6-9 */
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
	width: 105px;
	height: 2px;
	color: white;
	-webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
#nav li#open-login-form a:hover{
		background: #b6e9fc; /* Old browsers */
background: -moz-linear-gradient(top,  #b6e9fc 0%, #6dd5f8 4%, #3fc8f2 8%, #40c7f6 12%, #40c5f2 16%, #3cc3f2 24%, #3dbcef 36%, #34a4e6 92%, #33a0e3 96%, #65b1e2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6e9fc), color-stop(4%,#6dd5f8), color-stop(8%,#3fc8f2), color-stop(12%,#40c7f6), color-stop(16%,#40c5f2), color-stop(24%,#3cc3f2), color-stop(36%,#3dbcef), color-stop(92%,#34a4e6), color-stop(96%,#33a0e3), color-stop(100%,#65b1e2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e9fc', endColorstr='#65b1e2',GradientType=0 ); /* IE6-9 */
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
	color: white;
}
.pos .wrap-text p{
color: black;
 font-size: 15px;
 font-family: 'pt_sansregular';
 width: 650px;
 height: 50px;
 float: left;
 overflow: hidden;
 margin-left: 30px;
 line-height: 1.6;
 margin-top: 15px;
}
.flower-pos{
	position: absolute;
	width: 954px;
	height: 206px;
	background: url(../images/flower-pos.png) no-repeat;
	margin-top: -50px;
	background-position: -30px 0px;
	margin-left: -25px;
}
.pos .wrap-text .right-info{
 	float: right;
 	width: 248px;
 	color:#545454;
 	font-size: 15px;
 	font-family: 'pt_sansregular';
 	margin-top: 15px;
 	padding-bottom: 10px;
}
.pos .wrap-text .right-info .more{
	margin-top: 5px;
}

/* Все письма */
.all-mail{
	width: 960px;
	margin: 0 auto;
	padding-bottom: 100px;
}
.all-mail .block-in-single-mails ul{
	list-style: none;
	margin-left: -102px;
	width: 1020px;
}
.block-textarea{
	margin-top: -40px;
}
.all-mail .block-in-single-mails ul li.non-position{
	margin-left: 63px;
	width: 192px;
	height: 111px;
	float: left;
	padding-bottom: 50px;
}
.all-mail .block-in-single-mails ul li.position{
	position: absolute;
	margin-left: 50px;
}
.block-in-single-mails{
	margin-top: 50px;
}
.all-mail .block-in-single-mails ul li img{
	width: 192px;
	height: 111px;
	 -webkit-filter: grayscale(100%);  
	-webkit-transition: all 0.3s ease;
	cursor: pointer;
}
.all-mail .block-in-single-mails ul li img.photo-is-big{
	width:231px;
	height: 144px;
	margin-left: -20px;
	margin-top: -15px;
	-webkit-filter: grayscale(0%); 
}
.all-mail .block-in-single-mails ul li img:hover{
	-webkit-filter: grayscale(0%); 
	    	margin-left: -20px;
	margin-top: -15px;
		width:231px;
	height: 144px;
}
.all-mail .block-in-single-mails ul li .pos{
	display: block;
	position: absolute;
	width: 980px;
	background-color: white;
}

.avatar-preview {
    border: 2px solid #CCCCCC;
    display: inline-block;
    height: 100px;
    position: relative;
    text-align: center;
    width: 100px;
    overflow: hidden;
    display: block;
}
.avatar-preview .preview {
    position: absolute;
    top: 0;
    left: 0;

}
.avatar-preview i {
    border-bottom: 1px dashed #CCCCCC;
    font-size: 20px;
    position: relative;
    top: 20px;
    color: #000;
    font-weight: bold;
}
.avatar-preview .avatar-upload-field {
    cursor: pointer;
    height: 100px;
    text-indent: 999999px;
    width: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
}

.title-all-mail{
	margin-top: -15px;
}
.title-all-mail h2{
	background: url(../img/all-mail.jpg) no-repeat;
	background-position: 0px 5px;
	padding-left: 45px;
	color: black;
	font-size: 30px;
	font-family: 'pt_sansitalic';
}
.all-mail .wp-pagenavi{
	float: right;
	margin-top: 15px;
	margin-right: 70px;
}
.all-mail .wp-pagenavi .pages{
	display: none;
}
.all-mail .wp-pagenavi .current{
	color:#1487b0;
	font-size: 17px;
	font-family: 'pt_sansbold';
	border: none;
}

.all-mail .wp-pagenavi a.page{
	color: black;
	font-size: 17px;
	font-family: 'pt_sansbold';
	border: none;
	background: none;
}
.all-mail .wp-pagenavi a.page:last-child{
	padding-right: 20px;
}
.all-mail .wp-pagenavi .nextpostslink, .all-mail .wp-pagenavi .previouspostslink{
	position: absolute;
	height: 25px;
	width: 14px;
	font-size: 1px;
	margin-top: -1px;
}
.all-mail .wp-pagenavi .nextpostslink{
	background: transparent url(../images/bit-dot-right.png) no-repeat;
		background-size: 12px 25px;
		margin-left: 13px;
}
.all-mail .wp-pagenavi .previouspostslink{
	background: transparent url(../images/big-dot-left.png) no-repeat;
		background-size: 12px 25px;
		margin-left: -20px;
}
#mother-height{
	height: 500px;
}
.cabinet-wrapper{
	padding-bottom: 100px;
	padding-top: 40px;
}
.photo-and-social{
	float: left;
	width: 200px;
}
.photo-and-social .photo{
	width: 200px;
	height: 200px;
    position: relative;
}
.upload-file-input{
	width: 200px;
	padding: 7px 0px;
	background: rgba( 0, 0, 0, 0.8);
	text-align:center;
	position: absolute;
	margin-top: -39px;
}
.photo-up{
	height: 200px;
}
.upload-file-input span{
	color: white;
	font-size: 12px;
	font-family: 'pt_sansregular';
}
.upload-file-input input{
	cursor: pointer;
    height: 30px;
    text-indent: 999999px;
    width: 200px;
    position: absolute;
    opacity: 0;
    top: 0;
    left: 0;
    z-index: 10;
    font-size: 1px;
}
.photo-and-social .photo img{
	width: 200px;
	height: 200px;
}
.photo-and-social .photo .delete-avatar {
    cursor: pointer;
    height: 20px;
    position: absolute;
    right: 0;
    top: 0;
    width: 20px;
    display: none;
}
.photo-and-social .photo:hover .delete-avatar {
    display: block;
}
.photo-and-social .photo .delete-avatar img {
    height: 20px;
    width: 20px;
}
.photo-and-social .social{
	color:#006990;
	font-size: 20px;
	font-family: 'pt_sansregular';
	margin-top: 20px;
}
.photo-and-social .social ul{
	list-style: none;
	margin-left: -40px;
	margin-top: -10px;
}
.photo-and-social .social ul li{
	width: 200px;
	height: 44px;
	margin-top: 20px;
	line-height: 1.1;
	padding-left: 55px;
}
.photo-and-social .social ul li a{
	font-size: 18px;
	font-family: 'pt_sansregular';
	text-decoration: underline;
}
.photo-and-social .social ul li a:hover{
	text-decoration: none;
}
.photo-and-social .social ul li span{
	font-size: 12px;
	color:#a0a0a0;
}
.photo-and-social .social ul li:first-child{
	background: url(../images/vk-big.jpg) no-repeat;
}
.photo-and-social .social ul li:last-child{
	background: url(../images/fb-big.jpg) no-repeat;
}
.cabinet-wrapper .main-info{
	float: left;
	width: 680px;
	margin-left: 50px;
}
.cabinet-wrapper .main-info span.login{
	font-size: 22px;
	color:#006990;
	font-family: 'pt_sansbold';
}
.cabinet-wrapper .main-info .personal{
	color:#000000;
	font-size: 14px;
	font-family: 'pt_sansregular';
	font-style: normal;
	cursor: pointer;
    display: block;
}
.cabinet-wrapper .main-info .personal{
	text-decoration: underline;
}
.cabinet-wrapper .main-info .personal:hover{
	text-decoration: none;
}


.open-posts{
	display: block;
	background: url(../images/publick.png) no-repeat;
	padding: 11px 0px 10px 55px;
	margin-left: -57px;
	cursor: default;
	color:#000000;
	font-size: 18px;
	font-family: 'pt_sansbold';
	font-style: normal;
}
.cabinet-wrapper .main-info p{
	line-height: 1.4;
}
.block-publick{
	padding: 20px 0px 10px 0px;  
}
.block-publick{
	margin-left: 50px;
}
.enter-to-application {
    text-align: center;
}
.button-add{
	background-color:#009ED8;
  border-bottom-color:#016D94;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-width:3px;
  border-style:none none solid;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  color:white;
  cursor:pointer;
  font-family:pt_sansbold;
  font-size:13px;
  padding:2px 12px;
  margin-top: -5px;
  display: block;
  width: 80px;
  text-align: center;
}
.button-add:hover{
	text-decoration: none;
}
.none-article p{
	margin-top: -5px;
}
.none-article{
	padding-bottom: 10px;
}
.enter-to-application a {
    background: none repeat scroll 0 0 #FF0000;
    color: #FFFFFF;
    font-family: 'pt_sansregular';
    font-size: 14px;
    padding: 12px 23px;
    text-transform: uppercase;
}
.write-to-us{
	font-style: normal;
	color: black;
	font-size: 14px;
	cursor: pointer;
	text-decoration: underline;
}
.write-to-us:hover{
	text-decoration: none;
}
p.last-par{
	padding-bottom: 30px;
}
.enter-to-application a:hover{
	text-decoration: none;
}
.block-border{
	border-top: 2px solid #009ed8;
	padding-top: 10px;
}
.block-border .fe-edit-post{
	margin-top: -15px;
}


/* Наследники победы */
.block-slider-nasledniki{
	width: 100%;
	height: 655px;
	background: url(../images/nasledniki.jpg);
	margin: 0 auto;
	padding-top: 2px;
}
#main .block-slider-nasledniki #galery-nasledniki {
	width: 810px;
	margin: 0 auto;
	background-position: 0px 50px;
	height: 650px;
	margin-top: -38px;
}
#main .block-slider-nasledniki #galery-nasledniki .block-mother{
	width: 770px;
	margin-left: 15px;
}
#galery-nasledniki ul{
	list-style: none;
}
#galery-nasledniki ul li{
	position: absolute;
}
#galery-nasledniki ul li:first-child{
	
}
#main .block-slider-nasledniki #galery-nasledniki .block-mother .mother-wrap{
	width: 770px;
	height: 610px;
	margin-left: 0px;
	margin-top: 20px;
}

#main .non-gallery .scroll {
    height: 440px;
    margin-left: 40px;
    margin-top: 80px;
    overflow-y: scroll;
    width: 710px;
}
#main .non-gallery .his-left{
    float: left;
    height: 500px;
    margin-left: -5px;
    margin-top: 120px;
    width: 330px;

}
#main .non-gallery .under-wrap, #its-wrap-block .under-wrap{
	width: 336px;
	height: 217px;
	background-color: white;
}
#main .non-gallery .his-left  .pictures-block {
    width: 400px;
    height: auto;
}
#main .non-gallery .his-left  .pictures-block .under-wrap img, #its-wrap-block .under-wrap img {
	width: auto;
	height: auto;
	max-width: 336px;
	max-height: 217px;
	margin: 0 auto;
	margin-top: 0px;
}

#main .non-gallery .his-left .pictures-block img {
    height: 43px;
    padding-bottom: 0px;
    padding-right: 7px;
    width: 58px;
    margin-top: 10px;
    cursor: pointer;
}

#main .non-gallery .his-right{
    height: 500px;
    margin-right:55px;
    margin-top: 95px;
    width: 330px;
    float: right;
}

#main .non-gallery .his-left .who{
    height: auto;
    width: 200px;
}
#main .non-gallery .his-left .who span{
	text-transform: uppercase;
	color:#d83933;
	font-size: 15px;
	font-family: 'pt_sansbold';
}
#main .non-gallery .his-left .who span.city{
	color:#545454;
}
#main .non-gallery .his-left .name{
	text-transform: uppercase;
	color:#d83933;
	font-size: 15px;
	font-family: 'pt_sansbold';
}
#main .non-gallery .his-left  span.date{
	float: right;
	color:#545454;
	font-size: 12px;
	font-family: 'pt_sansitalic';
}
#main .non-gallery .social{
	width: 200px;
	height:50px;
	margin-left: -5px;
	margin-top: 10px;
	}

#main .non-gallery .yashare-auto-init{
	width: 300px;
	height:50px;
}

#main .non-gallery .book-right p{
	width: 312px;
	color: black;
	font-family: 'pt_sansitalic';
	font-size: 16px;
	line-height: 1.6;
	padding-bottom: 0px;
	margin-top: -5px;
}
#main .non-gallery .book-right p:first-child{
	margin-top: 10px;
}
#main .non-gallery .book-right p strong{
	font-family: 'pt_sansbold';
	font-style: italic;
}

#main .non-gallery .his-right .book-right{
    float: right;
    overflow-y: scroll;
    padding-bottom: 10px;
    width: 328px !important;
    height: 450px;
    color: black;
}


.book-nav .link-prev{
	background: url("../images/link-prev.png") no-repeat;
}
 .book-nav .link-next{
	background: url("../images/link-next.png") no-repeat;
}
 .book-nav {
 	position: absolute;
 	margin-left: 640px;
 	margin-top: 38px;
 }
 .book-nav .link-next, .book-nav .link-prev{ 
	width: 44px;
	height: 44px;
	background-size: 44px 44px;
	cursor: pointer;
	font-size: 1px;
	float: left;
	display: block;
}


.write_new_mail{
	width: 648px;
	float: left;
	padding-bottom: 20px;
	background: url(../images/wrap-m.jpg);
}

.write_new_mail .left-part{
	width: 268px;
	margin-left: 30px;
	float: left;
	margin-top: 30px;
}
.write_new_mail .upload{
	width: 267px;
	height: 186px;
	background: url(../images/up.jpg) no-repeat;
	background-color: #f9f6ef;
	background-position: 50% 50%;
	
}
.upload input{
	width: 142px;
	height: 104px;
	opacity: 0;
	border: none;
	background-size: 142px 104px;
	text-indent: 999999px;
	margin-left: 65px;
	margin-top: 42px;
	font-size: 1px;
	cursor: pointer;
}

.write_new_mail .inputs{
	width: 100%;
}
.write_new_mail .inputs ul{
	width: 268px;
	list-style: none;
	margin-top: -10px;
	margin-left: -40px;
}
.write_new_mail .inputs ul li{
	float: left;
	margin-top: 15px;
}
.write_new_mail li.l{
	width: 100px;
		text-transform: uppercase;
	color: #545454;
	font-size: 14px;
	font-family: 'pt_sansbold';
}
.write_new_mail li.r input{
	width: 158px;
	height: 22px;
	margin-top: -3px;
	background-color:#f2eada;
	padding-left: 3px;
	border: 1px solid #e0d5ba;
}

.write_new_mail .right-part{
	width: 290px;
	float: right;
	margin-right: 13px;
	margin-top: 30px;
	height: 349px;
	background-color:white;
	border: 1px solid #b7b7b7;
}
.write_new_mail .right-part textarea{
	width: 90%;
	padding: 0px 10px 10px 10px;
	height: 265px;
	resize: none;
	border: none;
	overflow: auto;
	margin-top: 10px;
}
.write_new_mail .right-part input{ 
  background-color:#009ED8;
  border:none;
  color:#FFFFFF;
  cursor:pointer;
  float:right;
  font-family: 'pt_sansbold';
  font-size:14px;
  height:36px;
  margin-right:8px;
  margin-top:20px;
  text-transform:uppercase;
  width:176px;
 }
 #history .link-prev{
 	margin-left: 100px;
 }
 .height{
 	height: 100px;
 }
.write_new_mail .left-part #list-preview{
	width: 275px;
	height: auto;
	float: none;
	margin-top: 0px;
	margin-left: -40px;
}
#new__mail .left-part #list-preview li{
	float: right;
	width: 79px;
	height: 60px;
	margin-right: 12px;
	padding-bottom: 15px;
}
#new__mail .left-part #list-preview li input, .block-mail #list-preview li input{
	display: block;
	width: 20px;
	height: 18px;
	position: absolute;
	z-index: 9999;
	margin-top: -157px;
	margin-left: 60px;
	 background-color:#009ED8;
	 opacity: 0.9;
	 border:none;
	 color:#FFFFFF;
	 cursor: pointer;
	 font-family: 'pt_sansbold';
}
.block-mail #list-preview li input{
	margin-left: 80px;
}
.upload-wrapper .max{
	font-size: 12px;
	float: right;
	font-family: 'pt_sansregular';
}
#phone_color_footer a{
	color: white;
}
.pagi-video{
	margin-left: 11px;
}

.galleria-lightbox-box, .galleria-lightbox-overlay{
	z-index: 9999999;
}
.pagi-victory{
	float: right;
	margin-right: 100px;
	margin-top: -10px;
	color: white;
}
.pagi-victory .wp-pagenavi span.current{
	border: none;
	color:#009ED8;
	font-size: 18px;
}
.pagi-victory .wp-pagenavi:before{
	content: 'Глава:';
	font-size: 20px;
	color: black;
}
.pagi-victory .wp-pagenavi .pages{
	display: none;
}
.pagi-victory .wp-pagenavi a{
	border: none;
	background: none;
	color: black;
	font-size: 18px;
}
.pagi-victory .wp-pagenavi .last{
	display: none;
}
.pagi-victory .wp-pagenavi .extend{
	display: none;
}
.pagi-victory .wp-pagenavi .nextpostslink{
	background: url("../images/link-next.png") no-repeat;
	padding: 20px;
	background-position: -10px -1px;
	font-size: 1px;
}
.pagi-victory .wp-pagenavi .previouspostslink{
	background: url("../images/link-prev.png") no-repeat;
	padding: 20px;
	background-position: 15px -1px;
	font-size: 1px;
	margin-left: -20px;
}

.block-baby{
	width: 896px;
	margin: 0 auto;
	padding-top: 20px;
	padding-bottom: 40px;
}
.block-baby h2{
	font-size: 45px;
	font-family: 'pt_sansbold';
	text-transform: uppercase;
	color: black;
	padding-bottom: 20px;
}
.block-shadow-baby{
	-webkit-box-shadow: 5px 5px 18px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    5px 5px 18px 0px rgba(50, 50, 50, 0.75);
box-shadow:         5px 5px 18px 0px rgba(50, 50, 50, 0.75);
	    
}
.block-baby .block-pic-baby{
	width: 535px;
	height: 310px;
	float: left;
}
.block-baby .block-pic-baby img{
	width: 100%;
	height: 310px;
}
.block-baby .block-pic-baby span{
	display: block;
	font-family: 'pt_sansregular';
	text-transform: uppercase;
	font-size: 22px;
	color: black;
	padding: 8px 6px;
	background-color: white;
	margin-top: -300px;
	position: absolute;
}
.block-baby .block-text-baby{
	width: 315px;
	float: right;
	margin-right: -2px;
	padding-top: 15px;
	padding-bottom: 20px;
}
.block-baby .block-text-baby .cont-p{
	margin-top: -5px;
	padding-bottom: 5px;
}
.block-baby .block-text-baby .cont-p p{
	margin-top: 0px;
	color: #545454;
	font-size: 14px;
	font-family: 'pt_sansregular';
	line-height: 1.5;
	padding-right: 15px;
}
.block-baby .block-text-baby .time{
	font-size: 18px;
	color: black;
	font-family: 'pt_sansregular';
	display: block;
	margin-top: 10px;
}
.block-baby .block-text-baby i, .block-baby .block-text-baby .write-me{
	color: white;
	font-family: 'pt_sansbold';
	font-size: 16px;
	text-transform: uppercase;
	display: block;
	background-color: #009ed8;
	text-align: center;
	padding: 6px 20px;
	font-style: normal;
	cursor: pointer;
	margin-top: 2px;
	margin-right: 20px;
    border: none;
    float: right;
}
.block-baby .block-text-baby i:hover{
	text-decoration: none;
}
#if-record,#if-record1{
	float: left;
	margin-top: 6px;
	background: none;
	border: 2px solid #79AF13;
	cursor: default;
	color: #79AF13;
}
#record-webinar{
	margin-top: -27px;
}
.block-baby .bottom-part{
	margin-top: 60px;
	padding-bottom: 50px;
}
.block-baby .block-text-baby .pop-up-login{
	width: 255px;
	height: 80px;
	margin-top: 15px;display: none;
	background-color: white;
	margin-left: 30px;
	position: absolute;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 0.75);
box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
}
.block-baby .block-text-baby .pop-up-login span{
	float: right;
	margin-right: 10px;
	color: black;
	font-size: 14px;
	font-family: 'pt_sansbold';
	cursor: pointer;
}
.block-baby .block-text-baby .pop-up-login p{
	padding: 0px 20px;
	font-family: 'pt_sansbold';
	font-size: 14px;
	line-height: 1.3;
	text-align: center;
	margin-top: 20px;
}

.block-baby .bottom-part .slider-in-left-side{
	height: 160px;
	width: 535px;
	float: left;
}
.block-baby .bottom-part .person{
	float: right;
	width: 315px;
	height: 165px;
}
.person .person-pic{
	float: left;
	width: 125px;
}
.person .person-pic img{
	width: 125px;
	height: 162px;
}
.person .person-text{
	width: 160px;
	float: right;
	margin-top: -5px;
}
.person .person-text span{
	font-size: 14px;
	font-family: 'pt_sansbold';
	text-transform: uppercase;
	color: black;
}
.person .person-text p{
	color: #444;
	font-family: 'pt_sansitalic';
	line-height: 1.3;
	font-size: 14px;
	margin-top: 9px;
}
#main .slider-in-left-side .gallery1{
	width: 535px;
	height: 160px;
	margin-top: -30px;
}

#main .slider-in-left-side  .gallery1 div{
	width: 455px;
	height: 160px;
}
#main .slider-in-left-side .gallery1 div ul li:first-child{
	margin-left: 0px;
}
#main .slider-in-left-side .gallery1 div ul li{
	width: 130px;
	height: 155px;
	padding-right: 30px;
}
#main .slider-in-left-side .gallery1 div ul li span{
	color:#545454;
	font-size: 15px;
	font-family: 'pt_sansbold';
	display: block;
	text-transform: uppercase;
	margin-top: -20px;
}
#main .slider-in-left-side .gallery1 div ul li img{
	width: 100%;
	height: 90px;
}

.slider-in-left-side  .gallery1 .link-prev{
	margin-left: -70px;
	width: 38px;
	margin-top: 12px;
	height: 166px;
	background: url("../images/ll.jpg") no-repeat;
		font-size: 1px;
	display: block;
	position: absolute;
}
.slider-in-left-side  .gallery1 .link-next{
	margin-left: 497px;
	width: 38px;
	height: 67px;
	margin-top: 12px;
	background: url("../images/lr.jpg") no-repeat;
	font-size: 1px;
	display: block;
	position: absolute;
}
.block-text-baby #login-form-popup{
	margin-top: 20px !important;
	margin-left: 95px;
	height: 290px;
}
.block-text-baby #login-form-popup .about_reg{
	font-size: 14px;
	font-family: 'pt_sansbold';
	color: black;
	line-height: 1.2;
	text-align: center;
	display: block;
	margin: 0 auto;
	margin-top: 10px;
}
.table_public{
	padding-bottom: 20px;
	width: 100%;
	font-size: 15px;
	font-family: 'pt_sansregular';
	color: black;
}
.table_public tr td{
	border: 1px dotted #009ED8;
	padding: 10px;
	border-bottom: none;
	border-right: none;
	text-align: center;
}
.table_public tbody tr:first-child td{
	border-top: none;
}
.table_public tr td:first-child{
	width: 45%;
}
.table_public  tbody tr td:first-child{
	text-align: left;
}
.table_public tr td:last-child{
	border-right: 1px dotted #009ED8;
}
.table_public tr:last-child td{
	border-bottom: 1px dotted #009ED8;
}
.webinars-list{
	margin-top: 20px;
}
#table_webinars{
	margin-top: -10px;
}
#table_webinars tbody tr td:first-child{
	text-align: center;
}
.table_public thead tr td{
	font-family: 'pt_sansbold';
	color: white;
	text-align: center;
	background-color: #009ED8;
}
.line-cross{
	height: 2px;
	width: 100%;
	background-color: #009ED8;
	margin-top: 15px;
}
.section-and-tags{
	margin-top: 50px;
}
.section-and-tags .age{
	width: 100%;
	height: 155px;
	background: url(../images/age.jpg)no-repeat;
	background-size: 100%;
	padding-top: 1px;
}
.section-and-tags .age ul{
	list-style: none;
	margin-top: 120px;
	margin-left: -18px;
}
.section-and-tags .age ul li{
	float: left;
	padding-right: 48px;
}
.section-and-tags .age ul li:nth-child(2){
	padding-right: 30px;
}
.section-and-tags .age ul li:nth-child(3){
	padding-right: 60px;
}
.section-and-tags .age ul li:nth-child(4){
	padding-right: 75px;
}
.section-and-tags .age ul li:nth-child(5){
	padding-right: 53px;
}
.section-and-tags .age ul li:nth-child(6){
	padding-right: 52px;
}
.section-and-tags .age ul li:nth-child(7){
	padding-right: 36px;
}
.section-and-tags .age ul li:nth-child(8){
	padding-right: 0px;
}
.section-and-tags .age ul li a{
	font-family: 'pt_sansbold';
	text-decoration: none;
}
.section-and-tags .age ul li a:hover, .section-and-tags .age ul li a.active, .section-and-tags .baby-tag a.active{
	color:#37a4e3;
}
.block-topic-baby {
	margin-top: 20px;
    position: relative;
}
.block-topic-baby .post-in-tag{
	width: 685px;
	padding-top: 1px;
}
.block-topic-baby .post-in-tag ul{
	list-style: none;
	margin-left: -75px;
	margin-top: -35px;
}
.block-topic-baby .post-in-tag ul li{
	float: left;
	width: 205px;
	height: 200px;
	margin-left: 35px;
	margin-top: 35px;
	line-height: 1.2;
}
.block-topic-baby .post-in-tag ul li img{
	width: 210px;
	height: 130px;
	border: none;
}
.block-topic-baby .post-in-tag ul li a:hover{
	text-decoration: none;
}
.block-topic-baby .post-in-tag ul li span{
	font-family: 'pt_sansbold';
	font-size: 16px;
}
.block-topic-baby .baby-tag{
	float: right;
	width: 170px;
	margin-top:30px;
}
.block-topic-baby .baby-tag .title{
	text-transform: uppercase;
	font-family: 'pt_sansbold';
	font-size: 15px;
	color: black;
}
.block-topic-baby .baby-tag ul{
	list-style: none;
	margin-left: -40px;
	margin-top: 5px;
}
.block-topic-baby .baby-tag ul li a{
	color: black;
	font-family: 'pt_sansregular';
}
.block-topic-baby .baby-tag ul li {
	margin-top: 2px;
}
.block-topic-baby .baby-tag ul li a:hover{
	color:#37a4e3;
	text-decoration: none;
}

#load-baby-single {
    background: none repeat scroll 0 0 #FFFFFF;
    display: none;
    height: 100%;
    left: 0;
    min-height: 100%;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
}
#css-load-baby-single {
    display: none;
    position: absolute;
    text-align: center;
    top: 40px;
    width: 100%;;
}
#noTrespassingOuterBarG{
    position: relative;
    margin: 0 auto;
    top: 50px;
    z-index: 1000;
    height:33px;
    width:260px;
    border:2px solid #000000;
    overflow:hidden;
    background-color:#FFFFFF}

.noTrespassingBarLineG{
    background-color:#000000;
    float:left;
    width:23px;
    height:195px;
    margin-right:39px;
    margin-top:-46px;
    -moz-transform:rotate(45deg);
    -webkit-transform:rotate(45deg);
    -ms-transform:rotate(45deg);
    -o-transform:rotate(45deg);
    transform:rotate(45deg);
}

.noTrespassingAnimationG{
    width:384px;
    -moz-animation-name:noTrespassingAnimationG;
    -moz-animation-duration:1.3s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -webkit-animation-name:noTrespassingAnimationG;
    -webkit-animation-duration:1.3s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -ms-animation-name:noTrespassingAnimationG;
    -ms-animation-duration:1.3s;
    -ms-animation-iteration-count:infinite;
    -ms-animation-timing-function:linear;
    -o-animation-name:noTrespassingAnimationG;
    -o-animation-duration:1.3s;
    -o-animation-iteration-count:infinite;
    -o-animation-timing-function:linear;
    animation-name:noTrespassingAnimationG;
    animation-duration:1.3s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
}

#noTrespassingFrontBarG{
}

@-moz-keyframes noTrespassingAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-62px;
    }

}

@-webkit-keyframes noTrespassingAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-62px;
    }

}

@-ms-keyframes noTrespassingAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-62px;
    }

}

@-o-keyframes noTrespassingAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-62px;
    }

}

@keyframes noTrespassingAnimationG{
    0%{
        margin-left:0px;
    }

    100%{
        margin-left:-62px;
    }

}


.link-to-vebinar{
	width: 800px;
	margin: 0 auto;
	padding: 15px 0px;
}
.link-to-vebinar ul{
	margin: 0 auto;
	padding: 0;
}
.link-to-vebinar ul li{
	margin-left: 50px;
	padding-left: 70px;
}
.social-block{
	margin-left: -5px;
	margin-top: -20px;
}
.write-enter-login{
	margin-top: 6px !important;
	padding: 8px 20px !important;
}
.write-enter-login:hover{
	text-decoration: none;
}
#if-record1 {
	padding: 6px 35px !important;
}
.enter-to-vebinar{
  background-color:#009ED8;
  border:none;
  color:white;
  cursor:pointer;
  display:block;
  float:right;
  font-family:pt_sansbold;
  font-size:16px;
  font-style:normal;
  margin-right:20px;
  margin-top: 6px;
  padding: 8px 20px;
  text-align:center;
  text-transform:uppercase;
}
.enter-to-vebinar:hover{
	text-decoration: none;
}
.item .block-photo-post{
	width: 100%;
	padding: 0px;
	height: 200px;
}
.item .block-photo-post img{
	width: 300px;
	height: 200px;
}
.item  .sub-title{
	display: block;
	width: 280px;
	background: rgba(0, 0, 0, 0.6);
	position: absolute;
	color: white;
	font-family: 'pt_sansitalic';
	padding: 3px 0px 3px 20px;
	margin-top: -30px;
}
.item .block-text-gotolife{
	width: 260px;
	padding: 20px 20px 0px 20px;
}
.item .block-text-gotolife .main-title{
	font-family: 'pt_sansbold';
	font-size: 23px;
	display: block;
}
.item .block-text-gotolife p{
	font-family: 'pt_sansregular';
	font-size: 14px;
}
.item .block-text-gotolife strong{
	font-family: 'pt_sansbold';
}
.item .link-gotolife{
	display: block;
	width: 35px;
	background-color: #444444;
	color: white;
	text-align: center;
	float: right;
	padding: 5px 0px;
	transition: 0.5s;
}
.item .link-gotolife:hover{
	text-decoration: none;
	background: rgba(0, 0, 0, 0.5);
	transition: 0.5s;
}
.block-text-gotolife a:hover{
	text-decoration: none;
}
.banner-bg{
	width: 100%;
	height: 103px;
	background: url(../images/bird.jpg) no-repeat;
	background-position: top center;
	background-color: #33acea;
}
.banner-bg .section-text{
	font-family: 'pt_sansbold';
	font-size: 20px;
	color: white;
	text-transform: uppercase;
	float: left;
	margin-top: 40px;
	margin-left: 40px;
}
.banner-bg .section-btn{
	float: right;
	margin-right: 45px;
	margin-top: 35px;
}
.banner-bg .section-btn a{
	background: #ff3d57; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3d57 0%, #fb3b54 13%, #d7212e 73%, #cd1723 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3d57), color-stop(13%,#fb3b54), color-stop(73%,#d7212e), color-stop(100%,#cd1723)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3d57 0%,#fb3b54 13%,#d7212e 73%,#cd1723 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3d57 0%,#fb3b54 13%,#d7212e 73%,#cd1723 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3d57 0%,#fb3b54 13%,#d7212e 73%,#cd1723 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3d57 0%,#fb3b54 13%,#d7212e 73%,#cd1723 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3d57', endColorstr='#cd1723',GradientType=0 ); /* IE6-9 */
	color: white;
	text-transform: uppercase;
	font-family: 'pt_sansbold';
	font-size: 14px;
	border: 1px solid #5ebbed;
	display: block;
	padding: 3px;
	width: 274px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
.banner-bg .section-btn a:hover{
	text-decoration: none;
}
.banner-in-head{
	padding-bottom: 30px;
}
.block-child-life{
	color:black;
	  font-family: 'pt_sansbold';
	  font-size:16px;
}

.block-child-life input[type="text"]{ 
  border:1px solid #BEBEBE;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  height:24px;
  padding-left:10px;
  margin-left: 10px;
  width:238px;
 } 
.block-child-life input[type="text"]:focus{
	 	border: 1px solid #009ed8;
	-moz-box-shadow: 10px 10px 5px #888;
	-webkit-box-shadow: 0px 10px 5px #888;
	box-shadow: 0px 0px 3px #009ed8;
}


 .block-child-life input[type="submit"]{
 		background: #ff3d57; /* Old browsers */
	background: -moz-linear-gradient(top,  #ff3d57 0%, #fb3b54 13%, #d7212e 73%, #cd1723 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ff3d57), color-stop(13%,#fb3b54), color-stop(73%,#d7212e), color-stop(100%,#cd1723)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #ff3d57 0%,#fb3b54 13%,#d7212e 73%,#cd1723 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #ff3d57 0%,#fb3b54 13%,#d7212e 73%,#cd1723 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #ff3d57 0%,#fb3b54 13%,#d7212e 73%,#cd1723 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #ff3d57 0%,#fb3b54 13%,#d7212e 73%,#cd1723 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff3d57', endColorstr='#cd1723',GradientType=0 ); /* IE6-9 */
	color: white;
	text-transform: uppercase;
	font-family: 'pt_sansbold';
	font-size: 14px;
	padding: 7px;
	width: 274px;
	border: none;
	cursor: pointer;
	margin-left: 15px;
	text-align: center;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
 }
 .block-child-life span:nth-child(3){
 	margin-left: 10px;
 }


  .block-child-life .wpcf7-not-valid-tip{
  	display: none;
  }
  .non-val .wpcf7-response-output{
  	position: absolute;
  	margin-top: -33px;
  }
  .block-child-life{
  	padding: 20px 20px 0px 20px;
  	border: 2px solid #33acea;
  }