.fe-form label {
    display: block;
}
.fe-form input[type=text], .fe-form input[type=password] {
    width: 250px;
}
.fe-form div.error{
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 4px solid #DD3D36;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 1px 12px;
    margin: 5px 0 15px;
}
.fe-form div.success{
    background: none repeat scroll 0 0 #FFFFFF;
    border-left: 4px solid #7AD03A;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    padding: 1px 12px;
    margin: 5px 0 15px;
}
.fe-form .help {
    font-size: 12px;
    line-height: 1.5;
    color: #767676;
    display: block;
}
#login-form-popup .dot{
border: 10px solid transparent;
  border-bottom: 10px solid white;
    position: absolute;
    margin-top: -30px;
    margin-left: 130px;
}
#login-form-popup {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.1);
    display: none;
    height: 242px;
    padding: 10px 15px;
    position: absolute;
    margin-top: 60px;
    margin-left: 705px;
    width: 289px;
    z-index: 999999;
    -webkit-box-shadow: -2px -2px 13px 0px rgba(0, 0, 0, 0.28);
-moz-box-shadow:    -2px -2px 13px 0px rgba(0, 0, 0, 0.28);
box-shadow:         -2px -2px 13px 0px rgba(0, 0, 0, 0.28);
}
#login-form-popup  .inner-block{
    width: 240px;
    height: 200px;
    margin: 0 auto;
}

.inputs-block{
    font-family: 'pt_sansbold';
    color:#545454;
    font-size: 14px;
    margin-top: 20px;
}
.inputs-block p{
    line-height: 1.9;
    margin-top: -10px;
}
.inputs-block p a{
    
}
#login-form-popup form {
    position: relative;
}
#login-form-popup label {
    width: 60px;
    display: inline-block;
}
#login-form-popup input[type=text], #login-form-popup input[type=password] {
    width: 95%;
    border: 1px solid #bebebe;
    height: 24px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding-left: 10px;
}
#nav a#reg_link{
    color: #000000;
    font-size: 12px;
    font-family: 'pt_sansregular'; 
    margin-left: 90px;
}
.enter-p{
    padding-top: 10px;
}
.enter_button{
    float: right;
    margin-top: 5px;
}
#login-form-popup #registration-link a:hover{
    text-decoration: underline;
}
.title-soc{
    color:#000000;
    font-size:12px;
    font-family: 'pt_sansitalic'; 
    width: 90%;
    margin: 0 auto;
    height: 12px;
    border-bottom: 1px solid #e5e5e5;
    text-align: center;
}
.title-soc span{
    background-color:white;
    padding: 0px 10px;
}
.body-soc {
    padding-top: 15px;
}
.body-soc a {
    float: left;
}
.body-soc img:first-child{
    margin-left: 12px;
}
.body-soc img:last-child{
    margin-right: 12px;
}
.body-soc span.float-right {
    float: right;
}

#nav li#my-profile{
    width: 1px;
}
#nav li#my-profile a{
    background: #b6e9fc; /* Old browsers */
background: -moz-linear-gradient(top,  #b6e9fc 0%, #6dd5f8 4%, #3fc8f2 8%, #40c7f6 12%, #40c5f2 16%, #3cc3f2 24%, #3dbcef 36%, #34a4e6 92%, #33a0e3 96%, #65b1e2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6e9fc), color-stop(4%,#6dd5f8), color-stop(8%,#3fc8f2), color-stop(12%,#40c7f6), color-stop(16%,#40c5f2), color-stop(24%,#3cc3f2), color-stop(36%,#3dbcef), color-stop(92%,#34a4e6), color-stop(96%,#33a0e3), color-stop(100%,#65b1e2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e9fc', endColorstr='#65b1e2',GradientType=0 ); /* IE6-9 */
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
    width: 105px;
    height: 2px;
    font-family: 'pt_sansitalic'; 
    color: white;
    font-size: 16px;
    text-transform: none;
    -webkit-border-radius: 6px;
-moz-border-radius: 6px;
border-radius: 6px;
}
#nav li#my-profile a{
        background: #b6e9fc; /* Old browsers */
background: -moz-linear-gradient(top,  #b6e9fc 0%, #6dd5f8 4%, #3fc8f2 8%, #40c7f6 12%, #40c5f2 16%, #3cc3f2 24%, #3dbcef 36%, #34a4e6 92%, #33a0e3 96%, #65b1e2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#b6e9fc), color-stop(4%,#6dd5f8), color-stop(8%,#3fc8f2), color-stop(12%,#40c7f6), color-stop(16%,#40c5f2), color-stop(24%,#3cc3f2), color-stop(36%,#3dbcef), color-stop(92%,#34a4e6), color-stop(96%,#33a0e3), color-stop(100%,#65b1e2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #b6e9fc 0%,#6dd5f8 4%,#3fc8f2 8%,#40c7f6 12%,#40c5f2 16%,#3cc3f2 24%,#3dbcef 36%,#34a4e6 92%,#33a0e3 96%,#65b1e2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#b6e9fc', endColorstr='#65b1e2',GradientType=0 ); /* IE6-9 */
text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.18);
    color: white;
}
#nav li#exit-menu{
    width: 2px !important;
    padding: 0px 0px;
}
#nav li#exit-menu a{
    font-size: 1px;
    margin-left: 15px;
    margin-top: 4px;
    width: 15px;
    height: 16px;
    display: block;
    background: url(../img/exit.png)no-repeat;
    background-position: 5px 3px;
}

.fe-form {
     color: black;
    font-size: 16px;
    font-family: 'pt_sansbold';
    line-height: 1.3;
}

.fe-form input[type=text], .fe-form input[type=password]{
    width: 200px;
    height: 24px;
    padding:0px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid #bebebe;
    margin-top: 5px;
}
.fe-form input[type=submit]{ 
    background-color: #009ed8;
    border: none;
    color: white;
    padding: 8px 18px;
    font-size: 15px;
    font-family: 'pt_sansbold';
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border-bottom: 3px solid #016d94;
    cursor: pointer;
}
.about-us h2{
    font:24px/26px 'pt_sansbold',sans-serif;
    color:#006990;
    margin:0;
}

#user-posts {
    display: none;
    margin-top: 20px;
}
#user-posts .title {
    color: #006990;
    font-family: 'pt_sansbold';
    font-size: 22px;
}

.fe-edit-post {
    height: 500px;
}
#wp-editpost-editor-container, .fe-edit-post #fe-title {
    border: 1px solid #EEEEEE !important;
}
.fe-edit-post #fe-title {
    width: 100%;
    height: 25px;
    font-size: 20px;
    padding-left: 3px;
}
.fe-edit-post #fe-update-post-button {
    float: right;
    background-color:#009ED8;
  border-bottom-color:#016D94;
  border-bottom-left-radius:5px;
  border-bottom-right-radius:5px;
  border-bottom-width:3px;
  border-style:none none solid;
  border-top-left-radius:5px;
  border-top-right-radius:5px;
  color:white;
  cursor:pointer;
  font-family:pt_sansbold;
  font-size:15px;
  padding:8px 18px;
}
.fe-edit-post .label-change {
    position: relative;
}
.fe-edit-post .label-change label {
    position: absolute;
    left: 3px;
    top: 2px;
    font-size: 20px;
}