/*
Default style for WP-PageNavi plugin

http://wordpress.org/extend/plugins/wp-pagenavi/
*/

.wp-pagenavi {
	clear: both;
}

.wp-pagenavi a {
	text-decoration: none;
	padding: 3px 5px;
	margin: 2px;
	color:white;
	background-color:#009ed8;
}

.wp-pagenavi span {
	text-decoration: none;
	padding: 3px 5px;
	margin: 2px;
}

.wp-pagenavi a:hover, .wp-pagenavi span.current {
	border-color: #000;
}

.wp-pagenavi span.current {
	font-weight: bold;
	border: 1px solid #009ed8;
	color: #009ed8;
	
}
