
.region .article {
	width: 644px;
	float: left;
}



.region .article h2{
	padding-top: 10px;
	width: 644px;
	margin:0;
	font:20px/26px 'pt_sansbold',sans-serif;
	color:#000;
	font-weight: 100;
	width:644px;
	float: left;
}
#title-region{
	font-weight: 100;
	font-size: 26px;
	color:#006990;
	}
.region .article h2 a:hover{
	color: #000;
}

.region .article .article_title em {
	color:#8d8d8d;
	font:14px/36px 'pt_sansregular',sans-serif;
	height: auto;
	margin-bottom: 20px;
}


.region .article .article_title img {
	
}

.region .article .region_article {
	width: 644px;
	float: left;
}

.region .article .region_line {
	width: 644px;
	height: 1px;
	background: #000;
	margin-top: 10px;
}
















#more-region{
	margin-top:-10px;
}

.region .article_sidebar {
	float: none;
	width: 980px;
}

.region .clear_region {
	clear: both;
	float: none;
}
.region .imag_sidebar {
	text-align: center;
}
.region .imag_sidebar img{
	text-align: center;
}
#aside{
	float:right;
	width:297px;
	padding:15px 0;
	border-top: none;
}
#topic-region{
	margin-top: 10px;
}
#aside .box-events h3 {
	padding: 0;
	margin: 0;
	text-align: center;
}
#aside .box-events h3 span {
	font-size: 15px;
}
.box-events{
	border-bottom: 2px solid #037eaa;
}
#adress{
	float: left;
}
.image-map{
	float: left;
}
