#aside{
	float:right;
	width:297px;
    height: auto;
	padding:15px 0;

}




.question{
    border-bottom:1px solid #037eaa;
}

.save_live .article_title h2 {
    font: 19px 'pt_sansbold',sans-serif;
    margin-top: 33px;
	width: 529px;
    float: left;
    line-height: 37px;
}
.save_live .title_and_em {
    display: inline-block;
}
.save_live .article_title .em {
    margin-top: 42px;
	width: 115px;
    float: left;
	
}
.save_live .article_title em {
	float: right;
    font-size: 14px;
    font-style: normal;
    color: #606060;
}
.save_live .article_title p {
    /*padding-top: 15px;*/
    padding-bottom: 25px;
}
.save_live .article_title .em:after{
	clear: both;
}

.save_live .region_article:first-child{
    border-top:2px solid #037eaa;
}
.save_live .region_article{
    border-bottom:1px solid #037eaa;
}
.save_live .region_article:last-child{
    border-bottom: none;
}







.save_live .block_help {
    display: inline-block;
    border: 1px solid #037eaa;
    width: 976px;
    height: 96px;
    margin-bottom: 58px;
    margin-top: 18px;
}

.save_live .block_help_imag {
    margin: 10px 24px 10px 52px;
    width: 72px;
    float: left;
    height: 72px;
    background: url(../images/block_help_imag.png) no-repeat;
}

.save_live .block_help_button {
    width: 204px;
    height: 42px;
    margin: 27px 0 0 0; 
    float: left;
    background: url(../images/block_help_button.png) no-repeat;
}

.save_live .block_help p {
    font: 15px 'pt_sansregular',sans-serif;
/*    font-size: 15px;*/
    color: #646e71;
    float: left;
    width: 524px;
    height: 96px;
    padding: 8px 10px 0 60px;
    line-height: 23px;
}








.container_and_sidebar1 .region_article{
    margin-bottom: -7px;
}
.container_and_sidebar1 a.more_topic {
    background: #009ed8;
    color: #fff;
    font: 19px 'pt_sansbold',sans-serif;
    padding: 2px 10px 3px;
    display: inline-block;
    margin-top: -2px;
    margin-bottom: 7px;
}
.container_and_sidebar1 a.more_topic:hover{
    text-decoration:none;
    background:rgba(0, 158, 216, 0.7);
}













.save_live .gallery3 a:hover{opacity:0.5;}

.save_live .gallery3{
    position: relative;
   /* overflow-x:visible;
    overflow-y: hidden;*/
    overflow: hidden;
    width:297px;
    height: 350px;
    padding:15px 0 0;
}
.save_live .gallery3 div{
    width: 297px;
    height: auto;
   /* overflow:hidden;*/
    position:relative;
}
.save_live .gallery3 div ul{
    position:absolute;
    width:99999px;
    padding:0;
    margin: 0;
    list-style:none;
    /*overflow:hidden;*/
}
.save_live .gallery3 div ul li{
    float:left;
    width: 297px;

}
.save_live .question div ul li{padding-top:24px;}
/*save_live .gallery3 div ul li .text{
    overflow:hidden;
    height:1%;
    margin-bottom:30px;
}*/
.save_live .gallery3 div ul li img{
    vertical-align:top;
    margin-bottom:-9px;
}
.save_live .gallery3 em{
    text-align: left;
    font-style: normal;
    font-size: 14px;
}

/*save_live .gallery3 div ul li .text strong{
    width:297px;
    float:left;
    font:20px/34px 'pt_sansregular',sans-serif;
    text-transform:uppercase;
    color:#000;
    letter-spacing:0.2px;
}*/
/*.save_live .gallery3 div ul li  em{
    float:right;
    color:#8d8d8d;
    font:14px/28px 'pt_sansregular',sans-serif;
}*/
/*.save_live .gallery3 div ul li p{margin:0 0 25px;}*/
/*.save_live a.more{
    background:#009ed8;
    color:#fff;
    font: 19px 'pt_sansbold',sans-serif;
    padding:2px 8px 5px;
    display:inline-block;
}
.save_live a.more:hover{
    text-decoration:none;
    background:rgba(0, 158, 216, 0.7);
}*/
/*save_live .question{
    margin-bottom:0px;
    padding-bottom:4px;
}*/
/*.save_live .question h3{
    font: 18px 'pt_sansbold',sans-serif;
    color:#037eaa;
    margin:0 0 23px;
    background:url(../images/ico-question.gif) no-repeat 0 0;
    padding: 6px 103px 19px 109px;
    text-transform:uppercase;
}*/
.save_live .gallery3 p{
    width:297px;
    float:left;
}
/*.save_live .question a.more{
    float:right;
    margin:3px 35px 0 0;
    letter-spacing:-0.6px;
    padding:3px 8px 7px;
}*/
.save_live .question .gallery3 div{min-height: 320px;}


.save_live .gallery3 .link-prev{
    background: url("../images/link-prev.gif") no-repeat;
    left:228px;
    
}
.save_live .gallery3 .link-next{
    background: url("../images/link-next.gif") no-repeat;
    left:255px;
}

.save_live .gallery3 .link-prev, .save_live .gallery3 .link-next{
    position: absolute;
    top:236px;
    text-indent: -9999px;
    width: 32px;
    height: 32px;

}
.save_live .gallery3 h2{
    width: 245px;
    margin-top: 33px;
    margin-bottom: 7px;
    line-height: 24px;
    font: 18px 'pt_sansbold', sans-serif;
    color: #000;
}
.save_live .question div ul li {
padding-top: 11px;
}




.container_and_sidebar2 .article_left {
    width: 229px;
    float: left;
    margin-top: 30px;
    text-align: center;
}
.container_and_sidebar2 .article_right {
    width: 405px;
    float: left;
    margin-left: 10px;
}


.container_and_sidebar2 .article_title h2 {
    font: 1.3em 'pt_sansregular', sans-serif;
    font-weight: 500;
    margin-top: 26px;
    margin-bottom: 30px;
    width: 415px;
    float: left;
    line-height: 31px;
}

.container_and_sidebar2 .title_and_em {
    display: inline-block;
}

.container_and_sidebar2 .article_title .em {
    margin-top: 36px;
    float: none;
    margin: 0 auto;
    margin-top: 10px; 
}

.container_and_sidebar2 .article_title em {
    float: none;
    text-align: center;
}

.save_live .container_and_sidebar2 .article_title p {
    padding-bottom: 6px;
    line-height: 22px;
    width: auto;
    height: auto;
}

.save_live .article_right a.more{
    background:#009ed8;
    color:#fff;
    font: 15px 'pt_sansbold',sans-serif;
    padding:2px 8px 5px;
    display:inline-block;
    margin-bottom: 34px;
}
.save_live .article_right a.more:hover{
        text-decoration:none;
    background:rgba(0, 158, 216, 0.7);
}
.container_and_sidebar2 .article_title .em:after{
    clear: both;
}





.article_left img{
    box-shadow: none;
}

.container_and_sidebar2 #aside {
    border-top:2px solid #037eaa;
}
.save_live .topic{
    position:relative;
    padding-top:0px;
}
.save_live .topic_img {
    margin-top: 5px;
    width: 43px;
    height: 32px;
    background: url(../images/topic_img.png) no-repeat;
    float: left;
}

.save_live .topic h2 {
    font: 18px 'pt_sansbold', sans-serif;
/*    font-weight: 500;*/
    margin-top: -6px;
    margin-left: 54px;
    margin-bottom: 30px;
/*    width: 415px;*/
    /*float: left;*/
    line-height: 26px;
    color: #037eaa;
}
.save_live .topic_content {
    padding-left: 56px;
}
.save_live .topic_input {
    margin-top: -12px;    
}
.save_live .topic_input div {
    margin-bottom: 12px;
    font-style: italic;
    color: #818181;
}
.save_live .topic_input input {
    margin-right: 7px;
}

.save_live .topic_content a.more_topic {
    background: #009ed8;
    color: #fff;
    font: 17px 'pt_sansregular',sans-serif;
    padding: 2px 23px 3px;
    display: inline-block;
    margin-top: 20px;
    margin-bottom: 4px;
}
.save_live .topic_content a.more_topic:hover{
    text-decoration:none;
    background:rgba(0, 158, 216, 0.7);
}
.save_live .topic_a {
    color: #646464;
    text-decoration: underline;
    margin-top: 6px;
    font: 12px 'pt_sansregular',sans-serif;
    margin-left: -55px;
}
.save_live .topic_a:hover {
    text-decoration: none;
}






/*colums*/
.save_live .colums .colum .gallery_save_live {
width: 440px;
padding-top: 0px;
margin-top: -31px
}
.save_live .heading_save_live {
    color: #006990; 
}




.save_live .all-topic{
    color:#037eaa;
    background:url(../images/all_questions.png) no-repeat 0 0;
    display:inline-block;
    padding:3px 5px 3px 41px;
    font:14px/25px 'pt_sansbold',sans-serif;
    text-transform:uppercase;
}


.save_live .colums .text p {
    color: #006990;
    font-size: 16px;
    line-height: 24px;
}

.name_text_save {
    color: #006990;
    text-decoration: underline;
}
.name_text_save:hover {
    text-decoration: none;
}






.slider_sidebar {
    position: relative;
    margin-top: 20px;
    
}

.slider_sidebar h1 {
    color: #000;
    margin-top: 27px;
    font: 36px 'pt_sansbold',sans-serif;
}
.slider_sidebar .sidebar_top {
    float: left;
    background: #fff;
    padding-left: 52px;
    padding-top: 0px;
    width: 289px;
    height: 251px;
    z-index: 999;
}
/*.sidebar_top_relative {
    position: relative;
    right: 0px;
    top: 0px;
    background: red;
    width: 341px;
    height: 459px;
    z-index: 999;
}*/
.save_live .slider_sidebar_img {
    margin-top: 5px;
    width: 51px;
    height: 51px;
    background: url(../images/slider_sidebar_img.png) no-repeat;
    float: left;
}

.slider_sidebar .sidebar_top h2 {
    padding-top: 7px;
padding-left: 89px;
   font: 16px 'pt_sansregular',sans-serif;
   font-style: italic;
}
.slider_sidebar .sidebar_top h2 span {
   font: 20px 'pt_sansbold',sans-serif;
   font-style: normal;
}
.sidebar_top_text {
    margin-top: 0px;
    border-top:2px solid #037eaa;
    border-bottom:2px solid #037eaa;
}

.sidebar_top_text p {
    font: 14px 'pt_sansregular',sans-serif;
    line-height: 20px;
    margin-top: 30px;
}
.sidebar_top_text a.more_topic {
    background: #009ed8;
    color: #fff;
    font: 16px 'pt_sansbold',sans-serif;
    padding: 2px 10px 3px;
    display: inline-block;
    margin-top: 14px;
    margin-bottom: 30px;
}
.sidebar_top_text a.more_topic:hover{
    text-decoration:none;
    background:rgba(0, 158, 216, 0.7);
}



























.slider_save_live {
    height: 400px;
    width: 980px;
}





.pc_container {
    width: 980px;
    height: 406px;
    padding: 15px 1px 47px 1px;
    margin-top: -50px;
    
}

.pc_container .pc_item {
    margin-top: 15px;
    margin-left: 1px;
    width: 980px;
    height: 330px;
    margin-bottom: 50px;
}
.pc_container .pc_item img{
    float: left;
}
.pc_container .pc_bar_container {
    position: absolute;
    top: 373px;
    color: white;
    padding: 0px 10px 0px 10px;
    width: 980px;
    margin-bottom: 50px;

}

.pc_bar_container_underflow {
    width: 90000px;
    overflow: visible;
    background-color: white;
    height: 12px;
    border-bottom: 4px solid #51ba00;

}

.pc_bar_container_overflow {

    position: absolute;
    top: 373px;
    color: white;
    margin: 0px 10px 0px 10px;
    padding: 0px;
    width: 980px;
    


}
.line-slider-main{
    width: 910px;
    height: 4px;
    background-color: #d7d7d7;
    position: absolute;
    margin-top: 368px;
    margin-left: 40px;
}
.left, .center, .right, .right2, .right3 {
    background-position: left;
    background-repeat: no-repeat;
    overflow: hidden;
    font-size: 1px;
    float: left;
    background-color: white;
}

.bar {
    background-position: left;
    font-size: 1px;
    float: left;
    width: 980px;
}

/*.pc_item .desc {
    position: absolute;
    width: 250px;
    padding: 10px;
    height: 180px;
    line-height: 1.8em;
    right: 0px;
    background-image: url(../images/slide_fade.png);
}*/

.pc_item .desc h1 {
    color: #DE8F26;    
}
.title-main{
    border-top:2px solid #037eaa;
    padding-top: 20px;

}
#test{
    float: right;
    width: 280px;

}
#test .slider_sidebar_img{
    margin-top: 20px;
}
.title-main h1{
    float: left;
       color: #000;
    margin-top: 27px;
    font: 36px 'pt_sansbold',sans-serif;
}
#test h2 {
    padding-top: 7px;
padding-left: 89px;
   font: 16px 'pt_sansregular',sans-serif;
   font-style: italic;
}
#test h2 span {
   font: 20px 'pt_sansbold',sans-serif;
   font-style: normal;
}
