/*
Theme Name: Матери России
*/

/* Images */
.alignleft {
    float: left;
}
.alignright {
    float: right;
}
.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.entry-content img,
.comment-content img,
.widget img,
img.header-image,
.author-avatar img,
img.wp-post-image {
    /* Add fancy borders to all WordPress-added images but not things like badges and icons and the like */
    border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}


#content .gallery-holder .gmask ul li .img-slide{
	overflow:hidden;
    height: 300px;
}

#content .gallery-holder .gmask ul li strong strong{
    float:none;font-weight:bold;
    }

.projects .project{margin-bottom:40px;width:100%; overflow:hidden;}
.projects .project .img {float:left;width:450px;}
.projects .project .img img{
    width: 450px;
    height: 265px;
    -webkit-box-shadow: 0px 0px 13px 0px rgba(50, 50, 50, 0.68);
    -moz-box-shadow:    0px 0px 13px 0px rgba(50, 50, 50, 0.68);
    box-shadow:         0px 0px 13px 0px rgba(50, 50, 50, 0.68);
}

.projects .project .text {float:right;width:500px;}

.gallery1 .more-link,
.topic .more-link{display:none;}

#content .gallery-holder .gmask ul li > strong{width:550px;}


.list-cats li {display:inline-block;list-style:none;font-size:24px;padding: 0px 30px; text-align:center;}
.list-cats{margin:0 0 30px;padding:0;}
.list-cats .active a{color:#006fb4;}

.news-list .frame{overflow:hidden;width:100%;clear:both;float:left;margin-bottom:40px}
.news-list {margin-bottom:40px;}
#content.news-list .frame .data{float:none;clear:both;}

#content .frame .comments{width:100%;clear:both;}

.projects .more-link{display:none;}
.video p{height:100%;}