div.wpcf7 {
	margin: 0;
	padding: 0;
}

div.wpcf7-response-output {
	margin: 2em 0.5em 1em;
	padding: 0.2em 1em;
}

div.wpcf7-mail-sent-ok {
	border: 2px solid #398f14;
}

div.wpcf7-mail-sent-ng {
	border: 2px solid #ff0000;
}

div.wpcf7-spam-blocked {
	border: 2px solid #ffa500;
}

div.wpcf7-validation-errors {
	float: right;
	margin-top: -50px;
	margin-right: -8px;
	color: red;
	font-size: 14px;
	font-family: 'pt_sansbold';
}

span.wpcf7-form-control-wrap {
	position: relative;
}

span.wpcf7-not-valid-tip {
	color: #f00;
	line-height: 1.2;
	margin-top: 5px;
	font-size: 14px;
	display: block;
	font-family: 'pt_sansregular';
}
.cont-block .wpcf7-form-control-wrap span.to-display{
	display: none;
}
.input-forms .wpcf7-form-control-wrap span.to-display{
	display: none;
}

.first .wpcf7-form-control-wrap span.wpcf7-not-valid-tip, .second .wpcf7-form-control-wrap span.wpcf7-not-valid-tip{
	display: none;
}


.first .wpcf7-form-control-wrap span.to-display{
	width: 500px;
	display: block;
	margin-top: 55px;
}
.second .wpcf7-form-control-wrap span.to-display{
	width: 500px;
	display: block;
	margin-top: 38px;
}
.use-floating-validation-tip span.wpcf7-not-valid-tip { 
	position: absolute;
	top: 20%;
	left: 20%;
	z-index: 100;
	border: 1px solid #ff0000;
	background: #fff;
	padding: .2em .8em;
}

span.wpcf7-list-item {
	margin-left: 0.5em;
}

.wpcf7-display-none {
	display: none;
}

div.wpcf7 img.ajax-loader {
	border: none;
	vertical-align: middle;
	margin-left: 4px;
}

div.wpcf7 div.ajax-error {
	display: none;
}

div.wpcf7 .placeheld {
	color: #888;
}
span.wpcf7-list-item-label{
	display: none;
}
.wpcf7-form-control-wrap .wpcf7-not-valid .wpcf7-list-item input{
	position: absolute;
	outline: 1px solid #F00;
	margin-top: 6px;
}


