*{
	margin:0;
	padding: 0;
}

body{
	color:#777878;
	height: 100%;
	}

.wrapper{
	margin-bottom: 0;
	margin-left:auto;
	margin-right:auto;
	position: relative;
	width: 1000px;
}

h1,h2,h3 {
	color:#7bb7c1;
}

a {
	text-decoration: none;
	color: inherit;
}
a:HOVER{
	text-decoration: underline;
}
/* 					header  			*/

#header-info{
	height: 42px;
	background-color:#f6f7fb;
}

#top-info{
	padding-top: 11px;
	text-transform: uppercase;
	}
#top-info span{
	display: inline-block;
}
address {
	display: inline-block;
	margin: 0 30px;
	font-weight: bold;
	}
.top-social{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 1em;
	margin: auto;
	}
.social-icons{
	list-style-type: none;
	}
li {
	display: inline-block;
	}
.social-icons li a{
	background:url(../images/social-icons.png) no-repeat -1px 0px;
	width:20px;
	height:18px;
	padding:5px;
	text-indent:-999px;
	float:left;
	overflow:hidden;
}
.social-icons li.facebook a{
	background:url(../images/social-icons.png) no-repeat -35px 0px;
	}
	
.social-icons li.twitter a{
	background:url(../images/social-icons.png) no-repeat -70px 0px;;
	}
	
#header-logo{
	height: 160px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

/* 				top 	navigation			*/
#nav{
	border-top: 1px solid #c9ccd1;
	position: relative;
}

#nav li{
	height: 60px;
	padding: 0 20px;
	display: table-cell;
	vertical-align: middle;
}

#nav .active{
	color:#FFFFFF;
	background-color: #7bb7c1;
}

/* 					slider			*/

#slider{
	margin: 20px 0;
	width: 100%;
}

#slider img{
	width: 100%;
}

/* 					main			*/
#top-article {
    width: 400px;
    float: right;
    height: 100%;
   }

#article{
	padding-right: 440px;
}

.btn {
  display: inline-block;
  padding: 10px 12px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  background-color: #7bb7c1;;
  color: #ffffff;
  border: 0px;
  border-radius: 4px;
}

.panelka{
	margin: 20px 0;
	padding-bottom:20px;
	border-bottom: 1px solid #a7a7a7;
}

.panelka:last-child {
   border-bottom: none;
}
.panelka h3 span{
	float: right;
	color:#a7a7a7;
	font-weight: normal;
	display:block;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.panelka strong span{
	padding:20px 0;
	
	float: right;
	color:#a7a7a7;
	font-weight: normal;
	display:block;
	text-transform: uppercase;
}


.panelka h3,
.panelka strong{
	display:block;
	margin-bottom: 20px;
	text-transform: uppercase;
}

.panelka p{
	margin: 20px 0;
	text-align: justify;
}

.data-bar{
	height: 49px;
	margin-top:10px;
	margin-bottom: 20px;
}
.data-bar img{
	float: right;
	width: 363px;
}

/*  footer */
footer{
	height: 60px;
	background-color:#edeef2;
	clear: both;
}

#footer-nav{

}

#footer-nav li{
	margin-right: 30px;
	text-transform: uppercase;
	margin-top: 20px;
	font-size: 14px;
	padding-bottom: 3px;
}

#footer-nav li.active{
	color: #7bb7c1;
	text-decoration: underline;
	padding-bottom: 3px;
}

#footer-bar{
	width: 60px;
	padding-top:10px;
}

.footer-social{
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	height: 1em;
	margin: auto;
	}

.footer-social li a{
	background:url(../images/social-icons.png) no-repeat -1px 0px;
	width:20px;
	height:18px;
	padding:5px;
	text-indent:-999px;
	float:left;
	overflow:hidden;
}
.footer-social li.facebook a{
	background:url(../images/social-icons.png) no-repeat -35px 0px;
	}
	
.footer-social li.twitter a{
	background:url(../images/social-icons.png) no-repeat -70px 0px;;
	}


