@media screen and (max-width: 1000px) {
	.wrapper{
	width: 96%;
	}
	
	#header-info{
		height: auto;
		text-align: center;
	}
	
	#header-logo{
		display: block;
	}
	
	#top-article{
		float:none;
		width:100%;
		margin: 0 auto;
	}
	
	.top-social{
	height: auto;
	}
	
	#nav li{
		display: block;
		padding: 10px 0;
		margin: 0 auto;
		text-align: center;
		height: auto;
	}

	#article{
		padding-right: 0;
		width: 100%;
		
	}
	#article h2{
		text-align: center;
	}
	.panelka img{
		width: 100%;
	}
	
	.top-social{
	position: static;
	display:block;
	padding:10px auto;
	}
	
	#top-info span,
	#top-info address{
	margin:0;
	display: block;
	}
	
	.data-bar img{
	float:none;
	}
	
	.data-bar{
		text-align: center;
	}
	
	footer{
		display: none;
	}
 }


@media screen and (max-width: 480px) {
	.wrapper{
		width: 96%;
	}
	
	.data-bar img{
		width: 90%
	}

}

